@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-style-6 {
        .logo-wrapper {
            text-align: center;
            margin-bottom: 35px;
        }

        .header-middle {
            .middle-right-content {
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 17px 0 3px;
                margin-top: 0;
            }

            .sm_megamenu_wrapper_horizontal_menu {
                float: right;
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-style-6 {
        .logo-wrapper {
            text-align: center;
            margin-bottom: 35px;
        }

        .header-top {
            .welcome-text {
                display: none;
            }
        }

        .header-middle {
            .middle-right-content {
                position: relative;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 10px 0 5px;
                margin-top: 0;

                .main-megamenu {
                    display: none;
                }

                .search-header {
                    width: 100%;
                    .search-wrapper {
                        float: left;
                    }
                }

                .navigation-mobile-container {
                    display: block;
                    position: absolute;
                    top: 6px;
                    width: 100%;

                    .btn-mobile {
                        line-height: 0;

                        .button-mobile {
                            color: #333;
                            margin-top: 3px;
                        }
                    }
                }

                .minicart-header .minicart-content .cart-wrapper .minicart-wrapper .showcart {
                    width: 36px;
                    height: 34px;
                    padding-right: 0;

                    .text,
                    .counter {
                        display: none;
                    }
                }
            }
        }
    }

}

@media (max-width: 767px) {
    .header-style-6 {
        .logo-wrapper {
            text-align: center;
            margin-bottom: 35px;
        }

        .header-top {
            height: auto;
            .welcome-text {
                display: none;
            }

            .customer-action-header {
                width: 100%;
                padding-bottom: 7px;
                border-bottom: 1px solid #bbb;
                text-align: center;
            }

            .header-top-links {
                .toplinks-wrapper {
                    float: right;

                    .header.links li a {
                        width: 34px;
                        text-indent: -999px;
                        overflow: hidden;

                        &:before {
                            text-indent: 0;
                            left: -20px !important;
                        }
                    }
                }

                .language-wrapper .dropdown .mage-dropdown-dialog {
                    left: auto;
                    right: 0;
                }
            }
        }

        .header-middle {
            .middle-right-content {
                position: relative;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 10px 0 5px;
                margin-top: 0;

                .main-megamenu {
                    display: none;
                }

                .search-header {
                    width: 100%;
                    .search-wrapper {
                        float: left;

                        .block-content {
                            width: 249px;
                        }
                    }

                    .search-wrapper .sm-searchbox {
                        left: -41px;
                        width: 290px;

                        .sm-searchbox-content .control {
                            .searchbox-cat {
                                display: none;
                            }

                            #searchbox {
                                padding-right: 10px !important;
                            }
                        }
                    }

                }

                .navigation-mobile-container {
                    display: block;
                    position: absolute;
                    top: 6px;
                    width: 100%;

                    .btn-mobile {
                        line-height: 0;

                        .button-mobile {
                            color: #333;
                            margin-top: 3px;
                        }
                    }
                }

                .minicart-header .minicart-content .cart-wrapper .minicart-wrapper .showcart {
                    width: 36px;
                    height: 34px;
                    padding-right: 0;

                    .text,
                    .counter {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .cart-wrapper .mage-dropdown-dialog {
        width: 290px;
        left: 0;
    }
}