
.header-style-5 {
    .dropdown .mage-dropdown-dialog {
        top: 28px;
    }

    .header-top {
        background-color: #444444;
        height: 36px;

        .language-currency {
            .language-wrapper,
            .currency-wrapper {
                float: left;

                .dropdown .mage-dropdown-dialog {
                    left: 0;
                }

                .switcher-label {
                    display: none;
                }

                .switcher-trigger {
                    margin-top: 8px;
                    cursor: pointer;
                    position: relative;

                    &.active {

                        &:before {
                            content: "";
                            display: inline-block;
                            width: 100%;
                            height: 10px;
                            background-color: transparent;
                            position: absolute;
                            left: 0;
                            bottom: -6px;
                            z-index: 100000;
                        }
                    }

                    strong {
                        font-weight: normal;
                        color: #fff;

                        &:after {
                            .font-awesome(f107, 12px);
                            margin-left: 3px;
                        }
                    }

                }

                .mage-dropdown-dialog {
                    ul {
                        li {
                            a {
                                display: block;
                                padding: 3px 0;
                            }
                        }
                    }
                }
            }

            .language-wrapper {
                margin-right: 20px;

                .switcher-trigger {
                    strong {
                        padding-left: 20px;
                        background-repeat: no-repeat;
                        background-position: left center;
                    }
                }

                .mage-dropdown-dialog {
                    ul {
                        li {
                            a {
                                background-repeat: no-repeat;
                                background-position: left center;
                                white-space: nowrap;
                                padding-left: 20px;
                            }
                        }
                    }
                }
            }

        }

        .toplinks-wrapper {
            float: right;

            .header.links {
                li {
                    float: left;

                    &.link.compare {
                        display: none;
                    }

                    a {
                        position: relative;
                        color: #fff;
                    }

                    &.myaccount-link {
                        a {
                            &:before {
                                .font-awesome(f007, 13px);
                                position: absolute;
                                left: -18px;
                                top: 11px;
                            }
                        }
                    }

                    &.link.wishlist {
                        a {
                            &:before {
                                .font-awesome(f004, 13px);
                                position: absolute;
                                left: -20px;
                                top: 11px;
                            }
                        }
                    }

                    &.checkout-link {
                        a {
                            &:before {
                                .font-awesome(f046, 14px);
                                position: absolute;
                                left: -20px;
                                top: 11px;
                            }
                        }
                    }

                    &.authorization-link {
                        a {
                            &:before {
                                .font-awesome(f023, 14px);
                                position: absolute;
                                left: -20px;
                                top: 11px;
                            }
                        }
                    }

                    a {
                        white-space: nowrap;
                        display: block;
                        line-height: 36px;
                        height: 36px;
                        overflow: hidden;
                        text-indent: 30px;
                        padding-right: 10px;
                    }

                    &:last-child {
                        a {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    .header-middle {
        padding: 30px 0;
        position: relative;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

        .search-wrapper {
            max-width: 350px;
            margin-top: 4px;

            .block-content {
                position: relative;

                .nested {
                    display: none;
                }

                .control {
                    .input-text {
                        height: 34px;
                        border: 1px solid #ddd;
                    }
                }

                .actions {
                    .btn-search-header {
                        width: 34px;
                        height: 34px;
                        line-height: 34px;
                        text-align: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 0 !important;
                        opacity: 1;

                        &:hover {
                            background-color: #444;
                        }

                        &:before {
                            .font-awesome(f002, 14px);
                            color: #fff;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }

        }

        // SEARCH BOX PRO

        .sm-searchbox {
            .sm-searchbox-content {
                position: relative;

                .control {
                    .searchbox-cat {
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: #eee;
                        height: 34px;
                        width: 120px;
                        border: 1px solid #ddd;
                        color: #444;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    #searchbox {
                        padding-left: 130px;
                        height: 34px;
                        border-color: #ddd;
                        color: #444;
                        padding-right: 40px;
                    }
                }

                .actions {
                    .btn-searchbox {
                        background-color: #666666;
                        color: #fff;
                        height: 34px;
                        opacity: 1;
                        padding: 0 !important;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        top: 0;
                        width: 34px;

                        &:before {
                            .font-awesome(f002, 14px);
                        }

                        span {
                            display: none;
                        }

                        &:hover {
                            background-color: #333 !important;
                        }
                    }
                }
            }

        }

        // END SEARCH BOX PRO

        .logo-container {
            .logo-content {
                margin: 0;
                text-align: center;

                a {
                    display: block;
                    line-height: 0;
                }
            }
        }

        .phone-header {
            background: url(../images/phone-icon.png) no-repeat left center;
            float: right;
            padding-left: 42px;
            padding-right: 14px;

            h3 {
                color: #666666;
                font-size: 125%;
                text-transform: uppercase;
            }

            p {
                color: #444;
                font-size: 108.33%;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0;
            }
        }

        .cart-wrapper {
            float: right;
            margin-top: 4px;

            .minicart-wrapper {
                .showcart {
                    padding-right: 10px;
                    height: 34px;
                    border: 1px solid #ddd;
                    position: relative;
                    padding-left: 46px;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #444444;
                    font-size: 103.33%;
                    line-height: 32px;

                    &:hover {
                        cursor: pointer;
                    }

                    &:before {
                        color: #fff;
                        .font-awesome(f291, 16px);
                        line-height: 34px;
                        position: absolute;
                        left: -1px;
                        top: -1px;
                        display: inline-block;
                        width: 36px;
                        height: 34px;
                    }

                    .text,
                    .counter {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 0;
                        background: none;
                        color: #444;
                    }

                    .counter-label,
                    .price-minicart {
                        display: none;
                    }
                }
            }
        }
    }

    .header-bottom {
        height: 64px;
        background-color: #444444;
        position: relative;
        //    z-index: 25;

        .menu-horizontal-hd5 {
            .sm_megamenu_wrapper_horizontal_menu {
                .sm_megamenu_menu {
                    > li {
                        > a {
                            font-size: 116.67%;
                            color: #fff;
                            padding: 0 30px;
                            height: 60px;
                            line-height: 60px;
                            border-right: 1px solid #494949;
                            border-left: 1px solid #404040;

                            .icon_items {
                                position: absolute;
                                line-height: 0;
                                right: 0;
                                top: -15px;
                                z-index: 6;
                            }
                        }
                    }
                }
            }
        }
    }

}