@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    .service-ontop{
        .service-item:not(:last-child){
            .service-content{
                margin-bottom: 80px;
            }
        }

    }

    .categories-content .owl-controls .owl-nav div.owl-next{
        right: 0;
    }

    .categories-content .owl-controls .owl-nav div.owl-prev{
        left: 0;
    }
}

@media (max-width: 480px) {
    .our-brands .grid-brand .item{
        width: 50%;
    }
}