.home-19-style {
    .label-product{
        width: 50px;
        height: 50px;
        padding: 0;
        text-align: center;
        line-height: 50px;
        .border_radius(50%);

        &:before{
            display: none!important;
        }
    }

    .products-grid .item .item-inner {
        display: inline-block;
        width: 100%;
        border: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        text-align: center;

        .box-image {
            overflow: hidden;
            padding: 9px;
            border: 1px solid #e5e5e5;
            .border_radius(8px);

            .button-action{
                position: absolute;
                bottom: 4px;
                right: 9px;
                opacity: 0;

                .action{
                    background-color: #524d5e;
                    border: none!important;
                    color: #fff;
                    position: static;
                    display: block;
                    width: 42px;
                    height: 42px;
                    line-height: 42px;
                    margin: 0 0 5px 0;
                    .border_radius(4px);

                    &:before,
                    span{
                        display: none;
                    }

                    &.towishlist:after{
                        .font-awesome(f004,14px);
                    }

                    &.tocompare:after{
                        .font-awesome(f074,14px);
                    }

                    &.quickview-handler:after{
                        .font-awesome(f002,14px);
                    }
                }
            }
        }

        .box-info {
            .product-name{
                font-weight: normal;
            }

            .price-box .price{
                font-weight: 700;
            }

            .price-box .old-price .price{
                font-weight: normal;
            }

            .bottom-action{
                display: table;
                width: 100%;

                form{
                    float: none;
                }

                .btn-action.tocart{
                    float: none;
                    margin: 0;
                    height: 44px;
                    line-height: 42px;
                    padding: 0 20px!important;
                    .border_radius(4px);

                    &:before{
                        display: none!important;
                    }
                }
            }
        }

        &:hover {
            .box-image .button-action{
                opacity: 1;
            }

            .box-info .bottom-action .btn-action.btn-cart{
                border-bottom: 2px solid rgba(0,0,0,0.15)!important;

                span{
                    color: #fff;
                }
            }
        }
    }

}

.home-page-19{
    padding-top: 20px;

    .owl-controls .owl-nav div{
        width: 62px;
        height: 62px;
        border: 4px solid #fff;
        .border_radius(31px);
        background: url(../images/icon-image.png) no-repeat -337px -307px #524d5e;

        &.owl-prev{
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        }

        &:before{
            display: none;
        }
    }
}

.title-home{
    text-align: center;
    background: url(../images/bg-dot-title.png) no-repeat bottom center;
    padding-bottom: 25px;
    margin-bottom: 50px;

    h2{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 285%;
    }
}

.banner-image-home{
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 80px;
    padding-bottom: 60px;

    .static-image{
        margin-bottom: 30px;
    }
}

.sm-imageslider{
    margin-bottom: 105px;

    .owl-controls .owl-nav div{
        margin-top: -31px;
        opacity: 1;

        &.owl-next{
            right: -33px;
        }

        &.owl-prev{
            left: -33px;
        }

        &:hover{
            opacity: 1!important;
        }
    }

    .owl-theme .owl-dots .owl-dot{
        background-color: transparent;
        width: 14px;
        height: 14px;
        margin: 0 5px;
        border: 3px solid #fff;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);

        &.active,
        &:hover{
            background-color: #fff;
        }
    }
}

.service-ontop{
    margin-bottom: 100px;

    .service-content{
        text-align: center;
        border: 1px solid #e5e5e5;
        .border_radius(5px);

        .service-icon{
            width: 110px;
            height: 110px;
            margin: -57px auto 0;
            padding: 5px;
            .border_radius(50%);

            .service-icon-content{
                border: 1px dashed #fff;
                .border_radius(50%);
            }
        }

        .service-info{
            padding: 30px 20px;

            h2{
                text-transform: uppercase;
                font-size: 138.46%;
                font-weight: 700;
                margin-bottom: 5px;
            }

            p{
                font-size: 116.67%;
            }
        }

        &.service-color-1{
            .service-icon{
                background-color: #ff5777;
            }

            &:hover{
                border-color: #ff5777;
                box-shadow: 0 0 1px #ff5777 inset;
                -webkit-box-shadow: 0 0 0 1px #ff5777 inset;
            }

            .service-info{
                h2{
                    a:hover{
                        color: #ff5777;
                    }
                }
            }
        }

        &.service-color-2{
            .service-icon{
                background-color: #3cd09d;
            }

            &:hover{
                border-color: #3cd09d;
                box-shadow: 0 0 1px #3cd09d inset;
                -webkit-box-shadow: 0 0 0 1px #3cd09d inset;
            }

            .service-info{
                h2{
                    a:hover{
                        color: #3cd09d;
                    }
                }
            }
        }

        &.service-color-3{
            .service-icon{
                background-color: #f6bc32;
            }

            &:hover{
                border-color: #f6bc32;
                box-shadow: 0 0 1px #f6bc32 inset;
                -webkit-box-shadow: 0 0 0 1px #f6bc32 inset;
            }

            .service-info{
                h2{
                    a:hover{
                        color: #f6bc32;
                    }
                }
            }
        }


    }
}

.product-grid-home{
    margin-bottom: 40px;
}

.our-brands{
    margin-bottom: 70px;

    .grid-brand{
        margin: 0 -10px;

        .item{
            float: left;
            padding: 0 10px;
            width: 20%;

            .item-inner{
                margin-bottom: 20px;
                border: 1px solid transparent;
                .border_radius(11px);

                img{
                    border: 1px solid #e5e5e5;
                    .border_radius(10px);
                }
            }
        }
    }
}

.hot-categories{
    background-color: #fafafa;
    padding: 90px 0;
    margin-bottom: 90px;
}

.categories-content{
    .item-inner{
        background-color: #fff;
        border: 1px solid #e5e5e5;
        padding: 9px;
        .border_radius(10px);

        .image-cat{
            margin-bottom: 9px;
        }

        .title-cat{
            a{
                display: block;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 116.67%;
                padding: 10px;
                color: #fff;
                .border_radius(4px);
            }
        }

        &.cat-color-1{
            &:hover{
                border-color: #ff5566;
                box-shadow: 0 0 0 1px #ff5566 inset;
                -webkit-box-shadow: 0 0 0 1px #ff5566 inset;
            }

            .title-cat{
                a{
                    background-color: #ff5566;
                }
            }
        }

        &.cat-color-2{
            &:hover{
                border-color: #35aff1;
                box-shadow: 0 0 0 1px #35aff1 inset;
                -webkit-box-shadow: 0 0 0 1px #35aff1 inset;
            }

            .title-cat{
                a{
                    background-color: #35aff1;
                }
            }
        }

        &.cat-color-3{
            &:hover{
                border-color: #f6bc32;
                box-shadow: 0 0 0 1px #f6bc32 inset;
                -webkit-box-shadow: 0 0 0 1px #f6bc32 inset;
            }

            .title-cat{
                a{
                    background-color: #f6bc32;
                }
            }
        }

        &.cat-color-4{
            &:hover{
                border-color: #3cd09d;
                box-shadow: 0 0 0 1px #3cd09d inset;
                -webkit-box-shadow: 0 0 0 1px #3cd09d inset;
            }

            .title-cat{
                a{
                    background-color: #3cd09d;
                }
            }
        }
    }

    .owl-controls .owl-nav div{
        position: absolute;
        top: 50%;
        margin-top: -31px;

        &.owl-next{
            right: -33px;
        }

        &.owl-prev{
            left: -33px;
        }
    }
}