.home-page-3 {
    .static-image-7 {
        margin-bottom: 30px;
    }

    .static-image-6 {
        display: table;
        width: 100%;
        margin-bottom: 25px;

        .static-image-content {
            margin-left: -10px;
            margin-right: -10px;

            .static-image {
                float: right;
                padding-left: 10px;
                padding-right: 10px;

                a {
                    &.first-image {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .collections .collect {
        width: 20%;

        &.collect6 {
            display: none;
        }

        a {
            font-size: 112%;
        }
    }

    .btn-megamenu {
        background: #444444;
        a {
            display: block;
            line-height: 50px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 0 20px 0 12px;
            font-size: 116.67%;
            color: #fff;

            &:before,
            &:after {
                content: "";
                background-image: url(../images/icon-image.png);
                display: inline-block;
                background-repeat: no-repeat;
                vertical-align: middle;
            }

            &:before {
                width: 14px;
                height: 11px;
                margin-left: 5px;
                background-position: -68px -103px;
            }

            &:after {
                width: 15px;
                height: 15px;
                background-position: -67px -59px;
                float: left;
                position: relative;
                top: 19px;
            }
        }
    }

    .sidebar-megamenu {
        margin-bottom: 30px;
        padding-top: 18px;
    }

    .products-sidebar .item {
        margin-bottom: 20px;
    }

    .services-home {
        margin-bottom: 15px;

        .banner-policy {
            clear: both;
            display: inline-block;
            width: 100%;

            .inner {
                margin-left: -15px;
                margin-right: -15px;

                .policy {
                    float: right;
                    padding: 0 15px;
                    line-height: 19px;
                    width: 25%;

                    &:last-child {
                        border-right: none;
                    }

                    a {
                        display: block;
                        border: 3px solid #ddd;
                        padding: 20px 42px;

                        .ico-policy {
                            display: inline-block;
                            float: right;
                            margin-left: 10px;
                            background-repeat: no-repeat;
                            overflow: hidden;
                            position: relative;
                        }

                        .info-service {
                            span {
                                color: #999;
                            }

                            .title-sv {
                                display: block;
                                font-size: 116.67%;
                                font-weight: 700;
                                text-transform: uppercase;
                                color: #444;
                            }
                        }
                    }

                    &.policy1 {
                        a {
                            .ico-policy {
                                width: 24px;
                                height: 36px;

                                &:before {
                                    .font-awesome(f155, 33px);
                                    top: 2px;
                                    right: 5px;
                                }
                            }
                        }
                    }

                    &.policy2 {
                        a {
                            .ico-policy {
                                width: 45px;
                                height: 40px;

                                &:before {
                                    .font-awesome(f0d1, 37px);
                                    top: 0;
                                    right: 5px;
                                }
                            }
                        }
                    }

                    &.policy3 {
                        a {
                            .ico-policy {
                                width: 33px;
                                height: 34px;

                                &:before {
                                    .font-awesome(f073, 33px);
                                    top: 2px;
                                    right: 1px;
                                }
                            }
                        }
                    }

                    &.policy4 {
                        a {
                            .ico-policy {
                                width: 34px;
                                height: 34px;

                                &:before {
                                    .font-awesome(f0e9, 35px);
                                    top: 2px;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .list-product-home {
        margin-bottom: 30px;

        &.list-product-home-custom {
            margin-bottom: 20px;
        }
    }

    .image-slider-home {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .static-image-5 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .list-product-home {
        margin-bottom: 30px;

        &.list-product-home-custom {
            margin-bottom: 20px;
        }

        .products-grid .item .item-inner {
            margin-bottom: 0;
        }

        .ltabs-wrap {
            .ltabs-tabs-container {
                position: absolute;
                left: 80px;
                top: -53px;

                .ltabs-tabs {
                    .ltabs-tab {
                        border-left: 1px solid transparent;
                        border-right: 1px solid transparent;
                        border-top: 2px solid transparent;
                        cursor: pointer;
                        float: right;
                        height: 33px;
                        line-height: 29px;
                        padding: 0 20px;
                        text-transform: uppercase;

                        &.tab-sel {
                            background-color: #fff;
                            border-left: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                        }
                    }
                }
            }
        }

        .sm-listing-tabs .owl-controls .owl-nav {
            position: absolute;
            top: -53px;
            left: -3px;

            div {
                background-color: transparent;
                border: 1px solid #ddd;
                color: #666;
                height: 27px;
                width: 20px;

                &:before {
                    line-height: 25px;
                }

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}