<?php
/**
 *
 * SM Social Login - Version 1.0.0
 * Copyright (c) 2017 YouTech Company. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: YouTech Company
 * Websites: http://www.magentech.com
 */
?>

<div class="social-login-type block-container authentication">
    <div class="social-login-title">
        <h2 class="login-title">
            <?php echo __('Sign In') ?>
        </h2>
    </div>
    <div class="block social-login-form-wrap col-mgt mgt-7" id="social-login-form">
        <div class="block-title">
            <span id="block-customer-login-heading" role="heading" aria-level="2"><?php echo __('Registered Customers') ?></span>
        </div>
        <div class="block-content" aria-labelledby="block-customer-login-heading">
            <form class="form-customer-login" id="social-form-login" data-mage-init='{"validation":{}}'>
                <?php echo $block->getBlockHtml('formkey'); ?>
                <fieldset class="fieldset login" data-hasrequired="<?php 
                echo __('* Required Fields') ?>">
                    <div class="field email required">
                        <label class="label" for="email"><span><?php echo __('Email') ?></span></label>
                        <div class="control">
                            <input name="username" id="email" type="email" class="input-text"
                                   value="<?php echo $block->escapeHtml($block->getUsername()) ?>"<?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?>
                                   title="<?php echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="field password required">
                        <label for="pass" class="label"><span><?php echo __('Password') ?></span></label>
                        <div class="control">
                            <input name="password" id="pass" type="password" class="input-text"<?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?>
                                   title="<?php echo __('Password') ?>" data-validate="{required:true, 'validate-password':true}">
                        </div>
                    </div>
                    <?php echo $block->getChildHtml('form_additional_info'); ?>
                    <?php echo $block->getChildHtml('login.captcha') ?>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button type="button" class="action login primary" id="social-login-btn-login"><span><?php echo __('Login') ?></span></button>
                        </div>
                        <div class="secondary"><a class="action remind" href="#"><span><?php echo __('Forgot Your Password?') ?></span></a></div>
                    </div>
                    <div class="actions-toolbar">
                        <div class="primary"><a class="action create" href="#"><span><?php echo __('Create New Account?') ?></span></a></div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <?php echo $block->getChildHtml('popup.authentication.social') ?>
</div>

