
test
<div class="header-container header-style-11" style="background:#0b4cb6 !important; padding:0 !important">
	<div class="header-top" style="background:#013da0 !important;">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 language-currency-header">
					<?php echo $block->getChildHtml('language-header'); ?>
					<?php echo $block->getChildHtml('currency-header'); ?>
                    <p style="color:#fff;     margin: 8px 0 0 0; "><?php echo $block->getWelcome(); ?></p>	
				</div>
				
				<div class="col-lg-8 col-md-8 col-sm-8 header-top-links">
					<?php echo $block->getChildHtml('toplinks-header'); ?>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-middle" style="padding:30px 0 0 0;">
		<div class="container">
			<div class="middle-content">
				<div class="row">
					<div class="col-lg-2 col-md-3 logo-header">
						<?php echo $block->getChildHtml('logo-header'); ?>
					</div>
					
					<div class="col-lg-10 col-md-9 header-middle-right">
						
						
						<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('phone-header-v5')->toHtml(); ?>
						<div class="minicart-header">
							<div class="minicart-content">
								<?php echo $block->getChildHtml('cart-header'); ?>
							</div>
						</div>
						<div class="search-header">
							<?php echo $block->getChildHtml('search-header-pro'); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header-bottom">
		<div class="container">
			<div class="bottom-content" style="background:#0b4cb6 !important;">
				<div class="row">
                
                
                
                
					<div class="col-lg-2 col-md-3 sidebar-megamenu" style="display:none">
						<div class="megamenu-content-sidebar">
                        
                        
                        
							<div class="btn-megamenu">
								<a href="javascript:void(0)" title="<?php echo __('Categories')?>"><?php echo __('Categories')?></a>
							</div>
							
                            
                            
                            
                            
                            
							<div class="menu-ver-content">
								<?php
									if($_config->getGeneral('menu_style') == 'megamenu'){
										echo $block->getChildHtml('navigation-header-megamenu');
									} else {
										echo $block->getChildHtml('navigation-header');
									}
								?>
							</div>
						</div>
						
						<div class="navigation-mobile-container">
							<?php echo $block->getChildHtml('navigation.mobile'); ?>
						</div>
					</div>
					
					
                    
                    
                    
                    <div class="col-lg-10 col-md-9 col-lg-offset-2  main-megamenu yash-nav">
						<?php echo $this->getLayout()->createBlock("Magento\Theme\Block\Html\Topmenu")->setTemplate("Magento_Theme::html/topmenu.phtml")->toHtml(); ?>
					</div>
					
					<div class="col-lg-3 col-md-3 link-right" style="display:none">
						<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('link-right-header')->toHtml(); ?>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
