@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-style-19 .header-bottom .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li{
        margin-right: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-megamenu{
        display: none;
    }

    .navigation-mobile-container{
        display: block;
    }

    .btn-mobile .button-mobile{
        background: #fff;
        color: #333;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: 28px;
        height: 52px;
        line-height: 52px;
        margin: 5px 0;
        overflow: hidden;
        text-align: center;
        width: 52px;
        .border_radius(4px);
    }

    .header-style-19 .header-middle .middle-right-content .searchbox-header{
        display: block;
        width: auto;
        position: absolute;
        left: 75px;
        bottom: -107px;
        right: 15px;
        z-index: 20;
    }

    .header-style-19 .header-middle{
        .middle-right-content{
            float: right;
        }

        > .container{
            position: relative;

            .header-middle-right{
                position: static;
            }
        }
    }
}

@media (max-width: 767px) {
    .main-megamenu{
        display: none;
    }

    .navigation-mobile-container{
        display: block;
    }

    .btn-mobile .button-mobile{
        background: #fff;
        color: #333;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: 28px;
        height: 52px;
        line-height: 52px;
        margin: 5px 0;
        overflow: hidden;
        text-align: center;
        width: 52px;
        .border_radius(4px);
    }

    .header-style-19 .header-middle .middle-right-content .searchbox-header{
        display: block;
        width: auto;
        position: absolute;
        left: 75px;
        bottom: -107px;
        right: 15px;
        z-index: 20;
    }

    .header-style-19 .header-middle{
        .middle-right-content{
            float: right;
        }

        > .container{
            position: relative;

            .header-middle-right{
                position: static;
            }
        }
    }

    .social-header{
        display: none;
    }

    .header-style-19 .header-content{
        background-size: auto 100%;
    }

    .header-style-19 .header-middle .logo-header .logo-wrapper .logo-content{
        text-align: center;
        padding-bottom: 20px;
    }

    .header-style-19 .header-middle .middle-right-content .minicart-header{
        width: 100%;
    }

    .header-style-19 .header-middle .middle-right-content .customer-action{
        padding: 0;
    }

    .header-style-19 .header-middle .middle-right-content .customer-action .dropdown-user{
        left: 0;
        right: auto;
    }

    .header-style-19 .header-middle .middle-right-content .searchbox-header .search-wrapper .block-content .input-text{
        font-size: 100%;
    }
}

@media (max-width: 480px) {

}