.home-14-style {
    .products-grid .item .item-inner {
        border: none;

        .box-info {
            text-align: center;
            padding: 10px 5px 15px;

            .bottom-action {
                width: 100%;

                .actions-primary,
                .actions-secondary,
                form,
                .btn-action {
                    float: none;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 1px;
                }

                form {
                    .btn-action {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.header-14-style {
    &.layout-boxed {
        .header-style-14 {
            .header-bottom {
                .sm_megamenu_wrapper_horizontal_menu {
                    padding: 0;

                    .sm_megamenu_menu > li > .sm_megamenu_head {
                        margin-right: 40px;
                    }
                }
            }
        }

        .sidebar-megamenu {
            width: 20%;
        }

        .main-megamenu {
            width: 80%;
        }
    }
}

.cms-index-index {
    &.home-14-style {
        &.layout-boxed {
            .full-wrapper {
                margin-left: 0;
                margin-right: 0;

                .full-content {
                    width: 100% !important;
                }
            }

            .col1-layout {
                > .container {
                    width: auto !important;
                    max-width: 100% !important;
                }
            }

            .full-wrapper {
                margin-left: 0;
                margin-right: 0;
                padding-left: 15px;
                padding-right: 15px;

                .full-content {
                    width: 100% !important;

                    .container {
                        width: 100% !important;
                        max-width: 100% !important;
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }
                }
            }

            .deal-slider-id14,
            .group-products.group-block-title {
                float: none;
                width: 100%;
            }
        }
    }
}

.home-page-14 {
    .container {
        width: 100%;
        max-width: 1710px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .group-block {
        background-color: #fff;
        border: 1px solid #dcdde1;
        margin-bottom: 20px;

        &.slideshow-services {
            border: none;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        }
    }

    .banner-policy {
        clear: both;
        display: table;
        font-size: 116.6%;
        text-transform: uppercase;
        width: 100%;

        .inner {
            display: table-row;

            .policy {
                display: table-cell;
                line-height: 19px;
                width: 25%;
                text-align: center;
                background-color: #fff;
                .transition(.2s);
                border: 1px solid transparent;
                border-top: none;
                position: relative;

                &:hover {
                    background-color: #f7f8fa;
                    border-color: #e6e7e9;

                    &:before {
                        content: "";
                        display: inline-block;
                        height: 3px;
                        position: absolute;
                        left: -1px;
                        right: -1px;
                        bottom: -1px;
                    }
                }

                a {
                    display: block;
                    padding: 35px;
                    font-weight: 600;

                    .ico-policy {
                        display: inline-block;
                        margin-left: 10px;
                        background-repeat: no-repeat;
                        overflow: hidden;
                        text-indent: -999px;
                        position: relative;
                        vertical-align: middle;

                        &:before {
                            position: absolute;
                            text-indent: 0;
                        }
                    }
                }

                &.policy1 {
                    a {
                        .ico-policy {
                            width: 45px;
                            height: 36px;
                            &:before {
                                .font-awesome(f0d1, 37px);
                                position: absolute;
                                right: 5px;
                            }
                        }
                    }
                }

                &.policy2 {
                    a {
                        .ico-policy {
                            width: 27px;
                            height: 35px;

                            &:before {
                                .font-awesome(f155, 37px);
                                position: absolute;
                                right: 5px;
                            }
                        }
                    }
                }

                &.policy3 {
                    a {
                        .ico-policy {
                            width: 33px;
                            height: 34px;

                            &:before {
                                .font-awesome(f073, 33px);
                                position: absolute;
                                right: 0;
                                top: 1px;
                            }
                        }

                    }
                }

                &.policy4 {
                    padding: 0 28px;

                    a {
                        .ico-policy {
                            width: 34px;
                            height: 34px;

                            &:before {
                                .font-awesome(f0e9, 36px);
                                position: absolute;
                                right: 0;
                                top: 1px;
                            }
                        }
                    }
                }
            }
        }
    }

    .title-home {
        h2 {
            font-size: 200%;
            color: #222222;
            margin-bottom: 18px;
            font-weight: 600;
        }
    }

    .slider-post {
        .info-blog {
            padding-top: 10px;
            direction: rtl;
        }

        .date-post-title {
            .date-post {
                color: #fff;
                float: right;
                padding: 7px 0;
                text-align: center;
                width: 50px;
                font-weight: 700;

                .day {
                    font-size: 150%;
                    line-height: 1.1;
                }

                .month {
                    text-transform: uppercase;
                }
            }

            .postTitle {
                font-size: 116.67%;
                line-height: 1.4;
                margin-right: 60px;
                min-height: 50px;
                padding-top: 6px;
                margin-bottom: 10px;
            }
        }

        .postContent {
            font-size: 108.33%;
        }
    }

    .slider-brand-14 {
        .owl-carousel .owl-item {
            text-align: center;

            img {
                width: auto;
                max-width: 100%;
                display: inline-block;
            }
        }
    }

    .slider-top-collection {
        margin-bottom: 30px;

        .owl-stage-outer {
            padding: 5px 0;
        }

        .item-inner {
            text-align: center;
            position: relative;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

            &:before {
                content: "";
                position: absolute;
                left: -1px;
                right: -1px;
                bottom: -1px;
                height: 3px;
                opacity: 0;
                .transition(.2s);
            }

            .info-box {
                h3 {
                    font-size: 116.67%;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 15px 0;

                    a {
                        color: #222;
                    }
                }
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    .group-products {
        position: relative;
        padding: 0 !important;
        display: inline-block;
        width: 100%;

        .group-title {
            position: absolute;
            right: -1px;
            width: 280px;
            top: -1px;
            bottom: -1px;
            color: #fff;
            text-align: center;

            p {
                font-size: 200%;
                font-weight: 600;
                line-height: 1.6;
                margin: 70px 0 0;
            }

            .button-view {
                position: absolute;
                bottom: 84px;
                left: 0;
                right: 0;
            }

            .btn-view {
                background-color: #fff;
                display: inline-block;
                padding: 10px 30px;
                text-transform: uppercase;
                font-weight: 700;
                color: #222222;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
                .transition(.2s);

                &:hover {
                    background-color: #333;
                    color: #fff;
                }
            }
        }

        .product-container {
            margin-right: 280px;
            padding: 30px 14px;

            .products-grid .item .item-inner {
                margin: 0;
                box-shadow: none !important;
                -webkit-box-shadow: none !important;

                .box-info {
                    padding-bottom: 0;

                    .bottom-action .actions-primary {
                        padding: 0;
                    }
                }
            }

            .owl-controls .owl-nav div {
                &.owl-next {
                    right: -15px;
                }

                &.owl-prev {
                    left: -15px;
                }
            }
        }

        &.group-block-title {
            float: left;
            width: 59.52%;

            .product-container {
                margin: 0;
                padding: 20px 14px 30px;

                .title-home {
                    padding: 0 16px;
                }

                .owl-controls .owl-nav div {
                    top: 47%;
                }
            }
        }
    }

    .deal-slider-id14 {
        width: 39.28%;
        float: right;
        position: relative;

        &:before {
            content: "";
            width: 82px;
            height: 82px;
            background: url(../images/label-deal.png) no-repeat top left;
            position: absolute;
            left: -5px;
            top: -5px;
            z-index: 20;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
        }

        .product-container {
            margin: 0;
            padding: 20px 14px 51px;

            .title-home {
                padding: 0 16px;
            }
        }

        .sm-deals.products-grid .item .item-inner {
            .box-image {
                margin: 0;
                float: right;
                width: 330px;
            }

            .box-info {
                margin-right: 350px;
                text-align: right;
                padding: 0 30px 0 0;

                .product-name {
                    margin-bottom: 10px;
                    font-size: 150%;
                    font-weight: normal;
                }

                .deals-description {
                    margin: 10px 0 17px;
                    line-height: 1.8;
                }

                .bottom-action {
                    margin-bottom: 30px;
                }

                .price-box {
                    margin-bottom: 35px;
                }

                .deals-countdown {
                    background: none;
                    padding: 0;
                    margin: 0;

                    .deals-time {
                        border: 1px solid #dcdde1;
                        background-color: #f7f8fa;
                        position: relative;
                        display: inline-block;
                        margin-left: 20px;
                        font-size: 133.33%;
                        font-weight: 700;
                        height: 38px;
                        line-height: 38px;
                        padding: 0 10px;
                        width: auto!important;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;

                        &:before {
                            content: ":";
                            display: inline-block;
                            font-size: 16px;
                            font-weight: 700;
                            position: absolute;
                            right: -13px;
                            z-index: 10;
                        }

                        &:first-child {
                            &:before {
                                display: none;
                            }
                        }

                        > div {
                            display: inline-block;
                            font-size: 100%!important;
                        }

                        .title-time {
                            display: none;
                        }

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .deal-group-product {
        display: inline-block;
        width: 100%;
    }

    .sm-imageslider,
    .top-collections-14,
    .slider-post-14,
    .group-products,
    .slider-brand-14 {
        padding: 20px 30px;

        .owl-controls .owl-nav div {
            width: 47px;
            height: 80px;
            line-height: 78px;
            border: 1px solid #dcdde1;
            background-color: #fff;
            border-radius: 5px;
            opacity: 0.7;
            position: absolute;
            top: 50%;
            margin-top: -40px;
            margin-left: 0;
            margin-right: 0;
            color: #222;

            &:before {
                line-height: 78px;
                font-size: 40px;
            }

            &.owl-next {
                right: -31px;
                border-top-right-radius: 0;
                -webkit-border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                -webkit-border-bottom-right-radius: 0;
            }

            &.owl-prev {
                left: -31px;
                border-top-left-radius: 0;
                -webkit-border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                -webkit-border-bottom-left-radius: 0;
            }

            &:hover {
                opacity: 1 !important;
            }
        }
    }

    .sm-imageslider {
        padding: 0;

        .owl-controls .owl-nav div {
            &.owl-next {
                right: 0;
                border-right: none;
            }

            &.owl-prev {
                left: 0;
                border-left: none;
            }
        }
    }
}