@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-style-12 {
        .header-middle .phone-header {
            display: none;
        }

        .link-right {
            display: none;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-style-12 {

        .link-right,
        .phone-header,
        .menu-full {
            display: none;
        }

        .logo-content {
            text-align: center;
        }

        .btn-mobile {
            width: 34px;
            height: 34px;
            text-align: center;
            margin-top: 8px;

            .button-mobile {
                display: block;
                line-height: 34px;
                font-size: 25px;
                position: relative;
                z-index: 10010;
            }
        }

        .header-middle {
            .search-header {
                float: none;
                width: 100%;

                .search-wrapper {
                    .block-content {
                        display: block;
                        float: none;

                        .field.search {
                            width: 100%;

                            .control .input-text {
                                padding-right: 10px;
                                background-color: #ddd;
                                width: 100%;
                                height: 34px;
                                border-radius: 0;
                                -webkit-border-radius: 0;
                            }
                        }
                    }

                    .actions .btn-search-header {
                        width: 34px;
                        height: 34px;
                        border-radius: 0;
                        -webkit-border-radius: 0;
                    }

                }

            }
        }

        .header-bottom {
            height: 50px;

            .navigation-mobile-container {
                display: block;
            }
        }

        .middle-content {
            position: relative;

            .header-middle-right {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -69px;
                z-index: 10006;
                padding: 0 41px 0 43px;
            }
        }

        .minicart-header {
            position: absolute;
            left: 0;

            .minicart-content {
                .cart-wrapper {
                    .minicart-wrapper {
                        .showcart {
                            height: 34px !important;
                            width: 36px !important;
                            padding: 0 !important;

                            &:before {
                                top: 0 !important;
                            }

                            .text,
                            .counter.qty {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 767px) {
    .header-style-12 {

        .link-right,
        .phone-header,
        .menu-full {
            display: none;
        }

        .logo-content {
            text-align: center;
        }

        .btn-mobile {
            width: 34px;
            height: 34px;
            text-align: center;
            margin-top: 8px;

            .button-mobile {
                display: block;
                line-height: 34px;
                font-size: 25px;
                position: relative;
                z-index: 10010;
            }
        }

        .header-top {
            .toplinks-wrapper {
                position: relative;

                &:before {
                    height: 36px;
                    width: 36px;
                    text-align: center;
                    .font-awesome(f007, 16px);
                    line-height: 36px;
                    color: #fff;
                }

                .header.links {
                    display: none;
                    position: absolute;
                    background-color: #333;
                    top: 35px;
                    left: 0;
                    padding: 10px 20px 10px 30px;
                    z-index: 10009;

                    li {
                        padding-right: 0 !important;
                        display: block;
                        margin: 0 !important;
                    }
                }

                &:hover {
                    &:before {
                        background-color: #333;
                    }

                    .header.links {
                        display: block;
                    }
                }
            }
        }

        .header-middle {
            .search-header {
                float: none;
                width: 100%;

                .search-wrapper {
                    .block-content {
                        display: block;
                        float: none;

                        .field.search {
                            width: 100%;

                            .control .input-text {
                                padding-right: 10px;
                                background-color: #ddd;
                                width: 100%;
                                height: 34px;
                                border-radius: 0;
                                -webkit-border-radius: 0;
                            }
                        }
                    }

                    .actions .btn-search-header {
                        width: 34px;
                        height: 34px;
                        border-radius: 0;
                        -webkit-border-radius: 0;
                    }

                }

            }
        }

        .header-bottom {
            height: 50px;

            .navigation-mobile-container {
                display: block;
            }
        }

        .middle-content {
            position: relative;

            .header-middle-right {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -69px;
                z-index: 10006;
                padding: 0 41px 0 43px;
            }
        }

        .minicart-header {
            position: absolute;
            left: 0;

            .minicart-content {
                .cart-wrapper {
                    .minicart-wrapper {
                        .showcart {
                            height: 34px !important;
                            width: 36px !important;
                            padding: 0 !important;

                            &:before {
                                top: 0 !important;
                            }

                            .text,
                            .counter.qty {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

    }

}

@media (max-width: 480px) {
    .cart-wrapper .mage-dropdown-dialog {
        width: 290px;
        left: 0;
    }
}