@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-style-13 .header-middle {
        .middle-right-content {
            margin-top: 0;

            .main-megamenu {
                padding: 0;
            }
        }

        .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li > .sm_megamenu_head {
            padding: 0 8px;
        }
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .header-style-13 {
        .sidebar-megamenu,
        .main-megamenu {
            display: none !important;
        }

        .navigation-mobile-container {
            display: block !important;
        }

        .header-middle {
            padding-bottom: 10px;
            padding-top: 30px;

            .logo-wrapper {
                text-align: center;
                margin-bottom: 20px;
            }

            .middle-right-content {
                background-color: #333;
                position: relative;

                .btn-mobile {
                    margin: 0 15px;

                    .button-mobile {
                        font-size: 31px;
                        display: inline-table;
                        height: 54px;
                        line-height: 51px;
                    }
                }

                .minicart-header {
                    position: absolute;
                    top: 10px;
                    left: 0;

                    .showcart {
                        width: 36px;
                        height: 34px;
                        padding: 0 !important;
                        margin: 0 10px;

                        &:before {
                            top: 0 !important;
                        }
                    }

                    .minicart-content .cart-wrapper .minicart-wrapper .showcart .text,
                    .minicart-content .minicart-wrapper .action.showcart .counter.qty {
                        display: none;
                    }
                }

            }
        }

        .header-bottom {
            .search-header {
                position: absolute;
                right: 70px;
                left: 73px;
                top: -54px;
                z-index: 20;

                .sm-searchbox-content {
                    .control #searchbox {
                        border-width: 0;
                        height: 34px;
                    }

                    .control .searchbox-cat {
                        right: 0;
                        top: 0;
                        height: 34px;
                    }

                    .actions .btn-searchbox {
                        width: 34px;
                        height: 34px;
                        top: 0;
                        left: 0;

                        &:before {
                            font-size: 16px;
                            line-height: 34px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .header-style-13 {
        .sidebar-megamenu,
        .main-megamenu {
            display: none !important;
        }

        .navigation-mobile-container {
            display: block !important;
        }

        .header-middle {
            padding-bottom: 10px;
            padding-top: 30px;

            .logo-wrapper {
                text-align: center;
                margin-bottom: 20px;
            }

            .middle-right-content {
                background-color: #333;
                position: relative;

                .btn-mobile {
                    margin: 0 15px;

                    .button-mobile {
                        font-size: 31px;
                        display: inline-table;
                        height: 54px;
                        line-height: 51px;
                    }
                }

                .minicart-header {
                    position: absolute;
                    top: 10px;
                    left: 0;

                    .showcart {
                        width: 36px;
                        height: 34px;
                        padding: 0 !important;
                        margin: 0 10px;

                        &:before {
                            top: 0 !important;
                        }
                    }

                    .minicart-content .cart-wrapper .minicart-wrapper .showcart .text,
                    .minicart-content .minicart-wrapper .action.showcart .counter.qty {
                        display: none;
                    }
                }

            }
        }

        .header-bottom {
            .search-header {
                position: absolute;
                right: 70px;
                left: 73px;
                top: -54px;
                z-index: 20;

                .sm-searchbox-content {
                    .control #searchbox {
                        border-width: 0;
                        height: 34px;
                        padding-right: 10px;
                    }

                    .control .searchbox-cat {
                        display: none;
                    }

                    .actions .btn-searchbox {
                        width: 34px;
                        height: 34px;
                        top: 0;
                        left: 0;

                        &:before {
                            font-size: 16px;
                            line-height: 34px;
                        }
                    }
                }
            }
        }

        .header-top {
            .toplinks-wrapper {
                position: relative;

                &:before {
                    height: 34px;
                    width: 36px;
                    text-align: center;
                    .font-awesome(f007, 16px);
                    line-height: 34px;
                    margin-top: -1px;
                }

                .header.links {
                    display: none;
                    position: absolute;
                    background-color: #ddd;
                    top: 33px;
                    left: 0;
                    padding: 10px 20px;
                    z-index: 10009;

                    li {
                        display: block;
                        padding: 0 !important;
                        float: none !important;

                        &:before {
                            display: none !important;
                        }
                    }
                }

                &:hover {
                    &:before {
                        background-color: #ddd;
                    }

                    .header.links {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .cart-wrapper .mage-dropdown-dialog {
        width: 290px;
        left: 0;
    }
}