@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-page-13 {
        .countdown-product-wrapper .content-slider .product-slider .owl-stage-outer .item .item-inner .box-image {
            width: 180px;
        }

        .countdown-product-wrapper .content-slider .product-slider .owl-stage-outer .item .item-inner .box-info {
            margin-left: 180px;
        }

        .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
            display: inline-block !important;
        }

        .collections-id13 {
            border-bottom: none;

            .collect {
                width: 33.33%;
                border-bottom: 1px solid #dcdde1;
            }
        }

    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page-13 {
        .full-wrapper.full-top-home {
            padding-top: 15px;
        }

        .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
            display: inline-block !important;
        }

        .collections-id13 {
            border-bottom: none;

            .collect {
                width: 33.33%;
                border-bottom: 1px solid #dcdde1;
            }
        }

        .banner-policy {
            display: none;
        }

        .image-slider-home {
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 767px) {
    .home-page-13 {
        .full-wrapper.full-top-home {
            padding-top: 15px;
        }

        .image-slider-home {
            margin-bottom: 25px;
        }

        .countdown-product-wrapper .countdown-slider {
            position: static;

            .countdown-time {
                .cslider-item-timer {
                    .deals-time {
                        margin-left: 0;
                        margin-right: 30px;
                    }
                }
            }
        }

        .static-image-131 .static-image {
            padding-top: 10px;
            padding-bottom: 10px;

            img {
                width: 100%;
            }

            a {
                margin: 0;

                &.image-top {
                    margin-bottom: 20px;
                }
            }
        }

        .basic-product-slider.products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
            display: none !important;
        }

        .single-product-slider .basic-product-slider.products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
            display: inline-block !important;
        }

        .collections-id13 {
            border-bottom: none;

            .collect {
                width: 50%;
                border-bottom: 1px solid #dcdde1;
            }
        }

        .banner-policy {
            display: none;
        }

        .newsletter-container {
            padding-left: 0;
            padding-right: 0;
        }

    }

    .home-page-13 .countdown-product-wrapper .countdown-slider .deals-countdown{
        padding: 20px 0 0;
    }
}

@media (max-width: 480px) {
    .home-page-13 {
        .countdown-product-wrapper .content-slider .product-slider .owl-stage-outer .item .item-inner .box-info {
            margin: 0;
        }

        .content-slider .product-slider .owl-controls .owl-nav {
            position: static;
            padding-bottom: 10px;
        }

        .collections-id13 .collect {
            float: none;
            width: 100%;
        }

        .list-brands li {
            width: 50%;
        }

        .countdown-product-wrapper .countdown-slider {
            position: static;
            padding: 15px 30px;
            margin-left: 5px;

            .deals-countdown {
                .deals-time {
                    margin-left: 0;
                    margin-right: 5px;

                    &:before {
                        display: none!important;
                    }

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

    }
}