.home-13-style {
    .products-grid .item .item-inner {
        border: none;

        .box-info {
            text-align: center;

            .product-name {
                font-weight: normal;
            }

            .bottom-action {
                width: 100%;

                .actions-primary,
                .actions-secondary,
                form,
                .btn-action {
                    float: none;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 1px;
                }

                form {
                    .btn-action {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.home-page-13 {
    .full-wrapper.full-top-home {
        position: relative;
        padding-top: 30px;
        background-color: #fff;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    }

    .full-wrapper.full-content-home {
        background-color: #f2f3f7;
        padding: 30px 0;
        border-bottom: 1px solid #e6e7eb;
    }

    .title-home {
        border-bottom: 1px solid #dcdde1;
        margin: -25px 0 0;
        padding: 30px 30px 17px;

        h2 {
            text-transform: uppercase;
            font-size: 150%;
            font-weight: 700;
        }
    }

    .banner-policy {
        clear: both;
        display: table;
        font-size: 116.6%;
        text-transform: uppercase;
        width: 100%;

        .inner {
            display: table-row;

            .policy {
                display: table-cell;
                line-height: 19px;
                width: 33.33%;
                text-align: center;
                background-color: #fff;
                .transition(.2s);
                border: 1px solid transparent;
                border-top: none;
                position: relative;

                &:hover {
                    background-color: #f7f8fa;
                    border-color: #e6e7e9;

                    &:before {
                        content: "";
                        display: inline-block;
                        height: 3px;
                        position: absolute;
                        left: -1px;
                        right: -1px;
                        bottom: -1px;
                    }
                }

                a {
                    display: block;
                    padding: 35px;

                    .ico-policy {
                        display: inline-block;
                        margin-left: 10px;
                        background-repeat: no-repeat;
                        overflow: hidden;
                        text-indent: -999px;
                        position: relative;
                        vertical-align: middle;

                        &:before {
                            position: absolute;
                            text-indent: 0;
                        }
                    }
                }

                &.policy1 {
                    a {
                        .ico-policy {
                            width: 27px;
                            height: 36px;
                            &:before {
                                .font-awesome(f155, 37px);
                                position: absolute;
                                right: 5px;
                            }
                        }
                    }
                }

                &.policy2 {
                    a {
                        .ico-policy {
                            width: 45px;
                            height: 35px;

                            &:before {
                                .font-awesome(f0d1, 37px);
                                position: absolute;
                                right: 5px;
                            }
                        }
                    }
                }

                &.policy3 {
                    a {
                        .ico-policy {
                            width: 33px;
                            height: 34px;

                            &:before {
                                .font-awesome(f073, 33px);
                                position: absolute;
                                right: 0;
                                top: 1px;
                            }
                        }

                    }
                }
            }
        }
    }

    .content-slider {
        background-color: #fff;
        padding: 25px 0 0;
        border: 1px solid #dcdde1;
        position: relative;
        margin-bottom: 30px;

        .slider-wrapper {
            margin: -5px -5px -4px;
        }

        .product-slider {
            overflow: visible;
            position: static;

            .owl-stage-outer {
                padding: 5px 0;
                position: relative;
                z-index: 10;

                .item .item-inner {
                    border: none !important;
                    margin: 0 !important;

                    &:hover {
                        position: relative;
                        z-index: 10;
                    }
                }
            }

            .owl-controls .owl-nav {
                position: absolute;
                top: 33px;
                left: 30px;

                div {
                    background-color: transparent;
                    border: 1px solid #dcdcde;
                    color: #999999;

                    &:before {
                        line-height: 28px;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .countdown-product-wrapper {
        .content-slider .product-slider .owl-stage-outer .item .item-inner {
            padding: 30px 20px;
            display: inline-block;
            width: 100%;

            .box-image {
                width: 240px;
                float: right;
            }

            .box-info {
                padding-top: 0;
                padding-bottom: 0;
                text-align: right;
                margin-right: 240px;

                .product-name {
                    font-size: 166.67%;
                    margin-bottom: 13px;
                }

                .product-description{
                    margin-bottom: 10px;
                }

                .product-reviews-summary {
                    margin-bottom: 13px;
                }

                .price-box {
                    margin-bottom: 23px;
                }
            }
        }

        .owl-controls {
            margin: -5px 5px 0;
            border-top: 1px solid #dcdde1;
            padding: 25px 0 30px;

            .owl-nav {
                position: static !important;

                div {
                    margin: 0 3px 10px;
                }

            }

            .owl-dots .owl-dot {
                margin: 0 8px;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border: 2px solid #dcdde1;
            }
        }

        .countdown-slider {
            position: absolute;
            left: 30px;
            top: 32px;

            .deals-countdown {
                background: none;
                padding: 0;

                .deals-time {
                    width: auto;
                    position: relative;
                    display: inline-block;
                    margin-right: 30px;
                    color: #fff;
                    font-size: 133.33%;
                    font-weight: 700;
                    height: 38px;
                    line-height: 38px;
                    padding: 0 10px;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;

                    &:before {
                        content: ":";
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 700;
                        position: absolute;
                        right: -17px;
                        z-index: 10;
                    }

                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }

                    > div {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .collections-wrap {
        margin-bottom: 25px;
    }

    .slider-post {
        .info-blog {
            padding-top: 10px;
            direction: rtl;
        }

        .date-post-title {
            .date-post {
                color: #fff;
                float: right;
                font-weight: bold;
                padding: 5px;
                text-align: center;
                width: 40px;
            }

            .postTitle {
                font-size: 116.67%;
                line-height: 1.4;
                margin-right: 55px;
                min-height: 50px;
                padding-left: 5px;
                padding-top: 6px;
                margin-bottom: 10px;
            }
        }

        .postContent {
            font-size: 108.33%;
        }
    }

    .slider-post-13 {
        .content-slider .slider-wrapper {
            padding: 25px 30px;
            margin: 0;
        }
    }

    .home-brands {
        margin-bottom: 30px;
    }

    .newsletter-container {
        padding: 10px 110px 17px;
    }

    .single-product-slider {
        .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart {
            width: 30px;
            padding: 0 !important;

            span {
                display: none;
            }
        }
    }

}
