@media (min-width: 1200px) {
    .cms-index-index {
        .header-style-2 {
            .header-bottom .sidebar-megamenu .megamenu-content-sidebar .menu-ver-content {
                display: block !important;
                opacity: 1 !important;
                top: 100% !important;
                visibility: visible !important;
            }

            .more-w .more-view {
                padding: 19px 20px;
            }
        }
    }

    .cms-index-index.body-on-top {
        .header-style-2 {
            .header-bottom .sidebar-megamenu .megamenu-content-sidebar {
                .menu-ver-content {
                    opacity: 0 !important;
                    top: 130% !important;
                    visibility: hidden !important;
                }

                &:hover {
                    .menu-ver-content {
                        opacity: 1 !important;
                        top: 100% !important;
                        visibility: visible !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-style-2 {
        .header-middle .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li > .sm_megamenu_head {
            padding: 0 5px;
        }

        .sidebar-megamenu {
            width: 30%;
        }

        .searchbox-header {
            width: 70%;
        }

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-style-2 {
        .welcome-text {
            display: none;
        }

        .main-megamenu {
            display: none;
        }

        .navigation-mobile-container {
            display: block;
            margin: 0 15px;
            height: 50px;

            .btn-mobile {
                height: 50px;

                .button-mobile {
                    width: 34px;
                    height: 34px;
                    padding: 0;
                    border: 1px solid #ddd;
                    font-size: 24px;
                    margin-top: 8px;

                    i {
                        display: inline-block !important;
                        line-height: 32px;
                        margin: 0;
                        text-align: center;
                        vertical-align: top;
                        width: 100%;
                    }
                }
            }
        }

        .sidebar-megamenu {
            display: none;
        }

        .searchbox-header {
            margin: -50px 46px 0;
        }

        .header-middle {
            padding: 30px 0 20px;

            .logo-content {
                text-align: center;
            }

            .middle-right-content {
                position: relative;

                .minicart-header {
                    display: inline-block;
                    padding: 0;
                    position: absolute;
                    top: auto;
                    left: 0;
                    bottom: -66px;
                    z-index: 10006;

                    .minicart-content {
                        .cart-wrapper {
                            .minicart-wrapper {
                                .showcart {
                                    height: 34px;
                                    width: 34px;
                                    padding: 0;

                                    .text,
                                    .counter.qty {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 767px) {
    .header-style-2 .header-top .header-top-links .toplinks-wrapper .header.links li.myaccount-link a:before {
        text-indent: 18px;
        left: 0;
    }

    .header-style-2 .header-top .header-top-links .toplinks-wrapper .header.links li.link.wishlist a:before {
        left: 0;
        text-indent: 19px;
    }

    .header-style-2 .header-top .header-top-links .toplinks-wrapper .header.links li.checkout-link a:before {
        left: 0;
        text-indent: 17px;
    }

    .header-style-2 {
        .welcome-text {
            display: none;
        }

        .main-megamenu {
            display: none;
        }

        .header-top {
            .customer-action-header {
                float: left;
            }

            .header-top-links {
                float: right;
            }

            .header-top-links .toplinks-wrapper .header.links li a {
                width: 34px;
                overflow: hidden;
                text-indent: 999px;
            }
        }

        .navigation-mobile-container {
            display: block;
            margin: 0 15px;
            height: 50px;

            .btn-mobile {
                height: 50px;

                .button-mobile {
                    width: 34px;
                    height: 34px;
                    padding: 0;
                    border: 1px solid #ddd;
                    font-size: 24px;
                    margin-top: 8px;

                    i {
                        display: inline-block !important;
                        line-height: 32px;
                        margin: 0;
                        text-align: center;
                        vertical-align: top;
                        width: 100%;
                    }
                }
            }
        }

        .sidebar-megamenu {
            display: none;
        }

        .searchbox-header {
            margin: -50px 43px 0 46px;
        }

        .sm-searchbox .sm-searchbox-content .control {
            .searchbox-cat {
                display: none;
            }

            #searchbox {
                padding-right: 10px !important;
            }
        }

        .header-middle {
            padding: 30px 0 20px;

            .logo-content {
                text-align: center;
            }

            .middle-right-content {
                position: relative;

                .minicart-header {
                    display: inline-block;
                    padding: 0;
                    position: absolute;
                    top: auto;
                    left: 2px;
                    bottom: -66px;
                    z-index: 10006;

                    .minicart-content {
                        .cart-wrapper {
                            .minicart-wrapper {
                                .showcart {
                                    height: 34px;
                                    width: 34px;
                                    padding: 0;

                                    .text,
                                    .counter.qty {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 480px) {
    .header-style-2 {
        .header-top {
            height: auto;

            .header-top-links,
            .customer-action-header {
                float: none;
            }

            .customer-action-hd {
                border-bottom: 1px solid #ddd;
                text-align: center;
                padding-bottom: 5px;
            }

            .header-top-links {
                text-align: center;

                .switcher-currency .dropdown .mage-dropdown-dialog {
                    right: 0;
                    left: auto;
                }

                .toplinks-wrapper .header.links li a {
                    width: 34px;
                    text-indent: 999px;
                    overflow: hidden;
                }

                .currency-wrapper,
                .language-wrapper,
                .toplinks-wrapper {
                    display: inline-block;
                    float: none;
                    vertical-align: top;
                    text-align: left;
                }
            }
        }

        .cart-wrapper .mage-dropdown-dialog {
            width: 290px;
            left: -2px;
        }
    }

}