.cms-index-index .header-style-2 .header-middle .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li.home-item-parent > a {
    color: #fff;
}

.header-style-2 {
    .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu {
        padding-bottom: 9px;
    }

    .header-top {
        background-color: #eeeeee;
        height: 34px;

        .customer-action-hd {
            margin-top: 7px;

            a {
                font-weight: 700;
                color: #00abf0;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .header-top-links {
            .language-wrapper,
            .currency-wrapper {
                float: left;

                .dropdown .mage-dropdown-dialog {
                    left: 0;
                    right: auto;
                }

                .switcher-label {
                    display: none;
                }

                .switcher-trigger {
                    padding: 0 11px;
                    border: 1px solid #ddd;
                    margin-top: 6px;
                    cursor: pointer;
                    position: relative;

                    &.active {
                        background-color: #fff;

                        &:before {
                            content: "";
                            display: inline-block;
                            width: 100%;
                            height: 10px;
                            background-color: #fff;
                            position: absolute;
                            left: 0;
                            bottom: -6px;
                            z-index: 100000;
                        }
                    }

                    strong {
                        font-weight: normal;
                        color: #444;

                        &:after {
                            .font-awesome(f107, 12px);
                            margin-right: 3px;
                        }
                    }
                }

                .mage-dropdown-dialog {
                    ul {
                        li {
                            a {
                                display: block;
                                padding: 3px 0;
                            }
                        }
                    }
                }
            }

            .language-wrapper {
                margin-right: 5px;
                margin-left: 10px;

                .switcher-trigger {
                    strong {
                        padding-right: 20px;
                        background-repeat: no-repeat;
                        background-position: right center;
                    }
                }

                .mage-dropdown-dialog {
                    left: auto !important;
                    right: 0 !important;

                    ul {
                        li {
                            a {
                                background-repeat: no-repeat;
                                background-position: right center;
                                white-space: nowrap;
                                padding-right: 20px;
                            }
                        }
                    }
                }
            }

            .toplinks-wrapper {
                float: left;

                .header.links {
                    li {
                        float: right;

                        &.link.compare {
                            display: none;
                        }

                        a {
                            position: relative;

                            &:hover {
                                &:before {
                                    color: #fff !important;
                                }
                            }
                        }

                        &.myaccount-link {
                            a {
                                &:before {
                                    .font-awesome(f007, 13px);
                                    position: absolute;
                                    right: -18px;
                                    top: 11px;
                                    color: #444;
                                }
                            }
                        }

                        &.link.wishlist {
                            a {
                                &:before {
                                    .font-awesome(f004, 13px);
                                    position: absolute;
                                    right: -20px;
                                    top: 11px;
                                }
                            }
                        }

                        &.checkout-link {
                            a {
                                &:before {
                                    .font-awesome(f046, 14px);
                                    position: absolute;
                                    right: -20px;
                                    top: 11px;
                                }
                            }
                        }

                        &.authorization-link {
                            a {
                                display: none;
                            }
                        }

                        a {
                            white-space: nowrap;
                            display: block;
                            line-height: 34px;
                            height: 34px;
                            overflow: hidden;
                            text-indent: 30px;
                            padding-left: 10px;
                            transition: padding 0.4s ease 0s;
                            -webkit-transition: padding 0.4s ease 0s;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-middle {
        padding: 36px 0 29px;

        .logo-header {
            .logo-wrapper {
                .logo-content {
                    margin: 0;

                    strong {
                        a {
                            img {
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
        }

        .sm_megamenu_wrapper_horizontal_menu {
            display: table;
            width: auto;
            float: left;
            margin-top: 2px;

            .sm_megamenu_menu {
                > li {
                    margin-right: 1px;

                    > .sm_megamenu_head {
                        display: block;
                        line-height: 32px;
                        font-size: 116.67%;
                        padding: 0 15px;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        text-transform: uppercase;

                        .icon_items {
                            img {
                                position: absolute;
                                right: 0;
                                top: -15px;
                                z-index: 10;
                            }
                        }
                    }

                    &.sm_megamenu_actived,
                    &:hover {
                        > .sm_megamenu_head {
                            color: #fff !important;
                        }
                    }
                }
            }
        }

        .middle-right-content {
            display: table;
            margin-top: 5px;
            width: 100%;

            .minicart-header {
                display: table-cell;
                vertical-align: top;
                position: relative;
                top: -3px;
                padding-right: 30px;

                .minicart-wrapper {
                    float: left;
                }

                .minicart-content {
                    .cart-wrapper {
                        .minicart-wrapper {
                            margin: 0;

                            .showcart {
                                cursor: pointer;
                                position: relative;
                                padding-right: 44px;

                                &:before {
                                    color: #fff;
                                    .font-awesome(f291, 16px);
                                    line-height: 34px;
                                    position: absolute;
                                    right: 0;
                                    top: 3px;
                                    display: inline-block;
                                    width: 36px;
                                    height: 34px;
                                }

                                .text {
                                    white-space: nowrap;
                                    text-transform: uppercase;
                                    font-weight: 700;
                                    color: #444;
                                }

                                .counter {
                                    padding: 0;

                                    &:before,
                                    &:after {
                                        display: none;
                                    }

                                    .counter-number {
                                        display: none;
                                    }

                                    .counter-label {
                                        display: table-cell;
                                        white-space: nowrap;
                                    }

                                    .price-minicart {
                                        display: table-cell;

                                        &:before {
                                            content: "-";
                                            padding: 0 5px;
                                            display: table-cell;
                                        }

                                        .subtotal {
                                            display: table-cell;
                                        }

                                        .label {
                                            display: none;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .header-bottom {
        height: 50px;
        background-color: #666666;

        .navigation-wrapper .navigation > ul {
            padding: 3px 0 12px;
        }

        .sidebar-megamenu {
            .megamenu-content-sidebar {
                position: relative;

                .menu-ver-content {
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.2s ease-in-out 0s;
                    -webkit-transition: all 0.2s ease-in-out 0s;
                    position: absolute;
                    left: 0;
                    top: 130%;
                    width: 100%;
                    background-color: #fff;
                    z-index: 666666;
                }

                &:hover {
                    .menu-ver-content {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                }
                .btn-megamenu {
                    background: #444444;
                    a {
                        display: block;
                        line-height: 50px;
                        text-transform: uppercase;
                        font-weight: 700;
                        padding: 0 20px 0 12px;
                        font-size: 116.67%;
                        color: #fff;

                        &:before,
                        &:after {
                            content: "";
                            background-image: url(../images/icon-image.png);
                            display: inline-block;
                            background-repeat: no-repeat;
                            vertical-align: middle;
                        }

                        &:before {
                            width: 14px;
                            height: 11px;
                            margin-left: 5px;
                            background-position: -68px -103px;
                        }

                        &:after {
                            width: 15px;
                            height: 15px;
                            background-position: -67px -59px;
                            float: left;
                            position: relative;
                            top: 19px;
                        }
                    }
                }
            }
        }

        .searchbox-header {
            .search-wrapper {
                margin-top: 8px;

                .block-content {
                    position: relative;

                    .nested {
                        display: none;
                    }

                    .input-text {
                        height: 34px;
                        border: 1px solid #dddddd;
                        padding-right: 40px;
                        color: #444;
                    }

                    .btn-search-header {
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        width: 34px;
                        height: 34px;
                        opacity: 1;
                        padding: 0 !important;
                        background: transparent;
                        text-align: center;

                        &:hover {
                            color: #444 !important;
                        }

                        &:before {
                            .font-awesome(f002, 14px);
                            line-height: 34px;
                        }

                        span {
                            display: none;
                        }
                    }
                }

            }
        }

        // SEARCH BOX PRO

        .sm-searchbox {
            .sm-searchbox-content {
                position: relative;

                .control {
                    .searchbox-cat {
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-color: #eee;
                        height: 34px;
                        width: 150px;
                        border: 1px solid #ddd;
                        color: #444;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    #searchbox {
                        padding-right: 160px;
                        height: 34px;
                        border-color: #ddd;
                        color: #444;
                        padding-left: 40px;
                    }
                }

                .actions {
                    .btn-searchbox {
                        background: transparent !important;
                        height: 34px;
                        opacity: 1;
                        padding: 0 !important;
                        position: absolute;
                        left: 0;
                        text-align: center;
                        top: 0;
                        width: 34px;

                        &:before {
                            .font-awesome(f002, 14px);
                        }

                        span {
                            display: none;
                        }

                        &:hover {
                            color: #333 !important;
                        }
                    }
                }
            }

        }

        // END SEARCH BOX PRO

    }
}