@media (min-width: 1200px) {
    .cms-home-demo-02 {
        .page.messages {
            .messages {
                .message {
                    margin-left: 25.6%;
                    margin-top: 10px;
                }
            }
        }
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 25%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(4n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-page-2 {
        .static-image-block-1 .static-image {
            .col-1-image {
                width: 67%;

                .image-2 {
                    width: 46%;
                }

                .image-3 {
                    width: 53%;
                }
            }

            .col-2-image {
                width: 31.3%;
            }
        }

        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
            padding: 0 10px;
        }
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 33.33%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(3n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page-2 {
        .block-subscribe-home {
            background-size: 100%;
        }

        .static-image-block-1 .static-image {
            display: table;
            width: 100%;

            .col-1-image {
                width: 67.5%;

                .image-2 {
                    width: 46%;
                }

                .image-3 {
                    width: 53%;
                }
            }

            .col-2-image {
                width: 31.3%;
            }
        }

        .right-main {
            clear: both;

            .static-image-sidebar.static-image {
                display: none;
            }
        }

    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .home-page-2 {
        .block-subscribe-home {
            background-size: 100%;
        }

        .static-image-block-1 .static-image {
            display: table;
            width: 100%;

            .col-1-image {
                float: none;
                display: table;
                width: 100%;
                margin-bottom: 10px;
            }

            .col-2-image {
                width: 100%;
            }

            .image-2 {
                width: 46%;
            }

            .image-3 {
                width: 52.5%;
            }

            img {
                width: 100%;
            }
        }

        .right-main {
            clear: both;
        }

        .collections .collect {
            display: inline-block !important;
            width: 50%;
        }

        .right-main {
            clear: both;

            .static-image-sidebar.static-image {
                display: none;
            }
        }

    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .home-page-2 {
        .right-main {
            clear: both;

            .static-image-sidebar.static-image {
                display: block;
                margin-bottom: 40px;

                img {
                    width: 100%;
                }
            }
        }
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                clear: both;
            }
        }
    }
}