// RESPONSIVE FOOTER STYLE 2

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer-style-2 .footer-middle .block-subscribe-footer .form.subscribe .input-box {
        min-width: 270px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-style-2 {
        .footer-block {
            margin: 15px 0;
        }

        .footer-middle .socials-wrap {
            display: block;
            float: none;
            padding-top: 20px;
        }

        .footer-middle .block-subscribe-footer .form.subscribe .input-box {
            min-width: 380px;
        }
    }

}

@media (max-width: 767px) {
    .footer-style-2 {
        .footer-block {
            margin: 15px 0;
        }

        .footer-middle {
            .socials-wrap {
                display: block;
                float: none;
                padding-top: 20px;

                .title-follow {
                    display: block;
                }

                ul li {
                    margin-right: 10px;
                    margin-left: 0;
                }
            }

            .title-middle-footer, .footer-style-2 .footer-middle .title-follow {
                display: block;
                margin-bottom: 10px;
            }

            .block-subscribe-footer {
                .form.subscribe {
                    display: block;
                }

                .form.subscribe {
                    padding: 0;
                }
            }

            .block-subscribe-footer .form.subscribe .input-box {
                min-width: 190px;
            }

        }

        .footer-bottom .footer-payment {
            text-align: left;
            padding-top: 10px;
        }
    }

}

@media (max-width: 480px) {

}
