@media (min-width: 1200px) {
    .cms-home-demo-08 .page.messages {
        margin-left: 25%;

        .messages {
            margin-left: -12px;
        }
    }

    .header-style-8 .header-top .header-top-links .toplinks-wrapper .header.links li.myaccount-link a:before {
        color: #fff;
    }

    .cms-index-index {
        .header-style-8 {
            .header-bottom .sidebar-megamenu .megamenu-content-sidebar .menu-ver-content {
                display: block !important;
                opacity: 1 !important;
                top: 100% !important;
                visibility: visible !important;
            }
        }
    }

    .cms-index-index.body-on-top {
        .header-style-8 {
            .header-bottom .sidebar-megamenu .megamenu-content-sidebar {
                .menu-ver-content {
                    opacity: 0 !important;
                    top: 130% !important;
                    visibility: hidden !important;
                }

                &:hover {
                    .menu-ver-content {
                        opacity: 1 !important;
                        top: 100% !important;
                        visibility: visible !important;
                    }
                }
            }
        }
    }

    .header-style-8 {
        .header-top {
            .header-top-links {
                .toplinks-wrapper {
                    .header.links {
                        li.myaccount-link {
                            a {
                                color: #fff;
                                padding-right: 10px;
                                text-indent: 28px;
                                width: auto;
                                background-position: -347px -6px;
                            }
                        }

                        &.toplinks_hover {
                            li.myaccount-link {
                                a {
                                    background-color: transparent !important;
                                    color: #fff;
                                    padding-right: 0;
                                    text-indent: 50px;
                                    width: 34px;
                                    background-position: -347px -33px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .header-style-8 {
        .header-bottom {
            .sm_megamenu_wrapper_horizontal_menu {
                .sm_megamenu_menu {
                    > li {
                        > .sm_megamenu_head {
                            padding: 0 15px;
                        }
                    }
                }
            }

            .sidebar-megamenu {
                width: 30%;
            }

            .main-megamenu {
                width: 70%;
            }
        }

    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .header-style-8 {
        .header-middle {
            padding: 30px 0 15px;

            .middle-right-content {
                position: absolute;
                display: block;
                bottom: -57px;
                left: 60px;
                right: 15px;
                z-index: 10006;

                .minicart-header {
                    padding-left: 10px;

                    .minicart-content {
                        .cart-wrapper {
                            .minicart-wrapper {
                                .showcart {
                                    height: 34px;
                                    width: 34px;
                                    padding: 0;

                                    &:before {
                                        background-color: #333;
                                    }

                                    .text,
                                    .counter.qty {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .searchbox-header {
                    display: block;
                    padding-right: 45px;

                    .search-wrapper .block-content {
                        .input-text {
                            border: none;
                        }

                        .btn-search-header {
                            background-color: #333;
                        }
                    }
                }

                .minicart-header {
                    position: absolute;
                    right: 0;
                    top: -3px;
                }
            }
        }

        .logo-content {
            text-align: center;
            padding-bottom: 10px;
        }

        .megamenu-content-sidebar {
            display: none;
        }

        .navigation-mobile-container {
            display: block;

            .nav-mobile-container {
                height: 50px;

                .btn-mobile .button-mobile {
                    height: 34px;
                    width: 34px;
                    background-color: #333;
                    margin-top: 8px;
                    font-size: 24px;

                    > i {
                        position: relative;
                        top: -3px;
                    }
                }
            }
        }

        .header-bottom {
            background-color: #ddd;

            .main-megamenu {
                display: none;
            }

        }

        .minicart-wrapper .block-minicart {
            width: 290px !important;
            right: 0 !important;
            left: auto !important;
        }
    }
}

@media (max-width: 767px) {
    .header-style-8 {
        .header-top {
            .language-currency-top {
                min-height: 0;

                .language-wrapper .switcher-trigger strong {
                    span {
                        display: none;
                    }
                }
            }

            .header-top-links .toplinks-wrapper .header.links li a {
                width: 34px !important;
                text-indent: -999px !important;
            }
        }

        .header-middle {
            padding: 30px 0 15px;

            .middle-right-content {
                display: block;
                position: absolute;
                bottom: -57px;
                left: 60px;
                right: 15px;
                z-index: 10006;

                .minicart-header {
                    padding-left: 10px;
                    top: -3px;

                    .minicart-content {
                        .cart-wrapper {
                            .minicart-wrapper {
                                .showcart {
                                    height: 34px;
                                    width: 36px;
                                    padding: 0;

                                    &:before {
                                        background-color: #333;
                                    }

                                    .text,
                                    .counter.qty {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .searchbox-header {
                    display: block;
                    padding-right: 46px;

                    .search-wrapper .block-content {
                        .input-text {
                            border: none;
                        }

                        .btn-search-header {
                            background-color: #333;
                        }
                    }
                }

                .search-wrapper .sm-searchbox {
                    .sm-searchbox-content .control {
                        &:before {
                            display: none;
                        }

                        .searchbox-cat {
                            display: none;
                        }

                        #searchbox {
                            padding-left: 10px !important;
                        }
                    }
                }

                .minicart-header {
                    position: absolute;
                    right: 0;
                }
            }
        }

        .logo-content {
            text-align: center;
            padding-bottom: 10px;
        }

        .megamenu-content-sidebar {
            display: none;
        }

        .navigation-mobile-container {
            display: block;

            .nav-mobile-container {
                height: 50px;

                .btn-mobile .button-mobile {
                    height: 34px;
                    width: 34px;
                    background-color: #333;
                    margin-top: 8px;
                    font-size: 24px;

                    > i {
                        position: relative;
                        top: -3px;
                    }
                }
            }
        }

        .header-bottom {
            background-color: #ddd;

            .main-megamenu {
                display: none;
            }

        }

        .cart-wrapper .mage-dropdown-dialog {
            width: 290px;
            right: 0;
        }
    }
}

@media (max-width: 480px) {

}