<?php
/*------------------------------------------------------------------------
# SM Filter Products - Version 1.0.0
# Copyright (c) 2016 YouTech Company. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: YouTech Company
# Websites: http://www.magentech.com
-------------------------------------------------------------------------*/

use Magento\Framework\App\Action\Action;

?>

<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_config = $this->helper('Sm\Market\Helper\Data');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
	$viewMode = 'grid';
	$image = 'category_page_grid';
	$imageThumb = 'category_page_grid100';
	$showDescription = false;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
	$showWishlist = true;
    $showCompare = true;
    $showCart = true;
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
	$tag_id = "sm_filterproducts_".time().rand()."";
    ?>

    <div id="<?php echo $tag_id; ?>" class="deal-thumbs-grid products-grid">
		
		
		<?php if (!empty($this->_getConfig('title_module'))){?>
        <div class="block-title filter-title">
			<strong><?php echo $this->_getConfig('title_module') ;?></strong>
		</div>
		<?php } ?>
		
		<?php
		if ($this->_getConfig('product_source') == 'countdown_products') { 
			$dateTo = $this->_getConfig('date_to', '');	
		?>
		<div class="deals-countdown" data-timer="<?php echo date("Y/m/d H:i:s", strtotime($dateTo)); ?>"></div>
		<?php }?>
		
		<div class="block-content clearfix">
			<div class="thumb-deal">
				<?php $thumb = 1; foreach ($_productCollection as $_product): ?>
					<div class="box-image-thumb">
						<a href="javascript:void(0);" class="thumb-item <?php if($thumb == 1) echo 'active';?>" data-href="syns-<?php echo $thumb;?>" tabindex="-1">
							<?php
								$productImageThumb = $block->getImage($_product, $imageThumb);
								echo $productImageThumb->toHtml(); 
							?>
						</a>
					</div>
				<?php $thumb++; endforeach; ?>
			</div>
			
			<div class="grid-syns">
				<?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				<?php $syns = 1; foreach ($_productCollection as $_product): ?>
					<div id="syns-<?php echo $syns;?>" class="item product product-item <?php if($syns == 1) echo 'active';?>">
						<div class="item-inner clearfix">
					
								<?php
								$productImage = $block->getImage($_product, $image);
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								
								<div class="box-image">
									<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
										<?php echo $productImage->toHtml(); ?>
									</a>
									
									<div class="button-action">
										<?php if($_config->getAdvanced('show_wishlist_button')){?>
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
												<a href="#" class="action towishlist btn-action link-wishlist" title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"  aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>" data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>' data-action="add-to-wishlist"  role="button">
													<span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
												</a>
											<?php endif; ?>
										<?php } ?>
										
										<?php if($_config->getAdvanced('show_compare_button')){?>
											<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
											<a href="#"  class="action tocompare btn-action link-compare"  title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>" aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"  data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>' role="button">
												<span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
											</a>
										<?php } ?>
									</div>
									
									<div class="box-info">
										<div class="bottom-action">
											<?php if($_config->getAdvanced('show_addtocart_button')){?>
												<?php if ($_product->isSaleable()): ?>
													<?php $postParams = $block->getAddToCartPostParams($_product); ?>
													<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
														<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
														<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
														<?php echo $block->getBlockHtml('formkey')?>
														<button type="submit"
																title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
																class="action tocart primary btn-action btn-cart">
															<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
														</button>
													</form>
												<?php else: ?>
													<?php if ($_product->getIsSalable()): ?>
														<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
													<?php else: ?>
														<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
													<?php endif; ?>
												<?php endif; ?>
											<?php } ?>
										</div>
									</div>
								</div>
								
								

								<div class="product details product-item-details box-info">
									<?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
									<h2 class="product name product-item-name product-name">
										<a class="product-item-link"
										   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</h2>
									
									<div class="product description product-item-description">
										<?php
											$content = $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description');
											$short_text = strip_tags($content);
											echo substr($short_text,0,133);	
										?>
									</div>
									
									<?php echo $block->getReviewsSummaryHtml($_product, $templateType, true); ?>
									<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
									<?php echo $block->getProductDetailsHtml($_product); ?>
									
									<?php
									if ((int)$this->_getConfig('display_countdown') && !empty($_product->getSpecialPrice()) && !empty($_product->getSpecialToDate())) { 
										$specialToDate = $_product->getSpecialToDate();
									?>
									<div class="deals-countdown" data-timer="<?php echo date("Y/m/d H:i:s", strtotime($specialToDate)); ?>"></div>
									<?php }?>
								</div>
				
						</div>
					</div>
				<?php $syns++; endforeach; ?>
			</div>
		</div>
    </div>
	
	<script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
			var $element = $('#<?php echo $tag_id ?>');

			function CountDown(date,id){
				dateNow = new Date();
				amount = date.getTime() - dateNow.getTime();
				delete dateNow;
				if(amount < 0){
					id.html("Now!");
				} else{
					days=0;hours=0;mins=0;secs=0;out="";
					amount = Math.floor(amount/1000);
					days=Math.floor(amount/86400);
					amount=amount%86400;
					hours=Math.floor(amount/3600);
					amount=amount%3600;
					mins=Math.floor(amount/60);
					amount=amount%60;
					secs=Math.floor(amount);
					out += "<div class='deals-time time-day'><div class='num-time'>"+ days +"</div><div class='title-time'>"+((days==1)?"Day":"Days")+"</div></div>";
					out += "<div class='deals-time time-hours'><div class='num-time'>"+ hours +"</div><div class='title-time'>"+((hours==1)?"Hour":"Hours")+"</div></div>";
					out += "<div class='deals-time time-mins'><div class='num-time'>"+ mins +"</div><div class='title-time'>"+((mins==1)?"Min":"Mins")+"</div></div>";
					out += "<div class='deals-time time-secs'><div class='num-time'>"+ secs +"</div><div class='title-time'>"+((secs==1)?"Sec":"Secs")+"</div></div>";
					out = out.substr(0,out.length-2);
					id.html(out);
					setTimeout(function(){CountDown(date,id)}, 1000);
				}
			}
			$( ".deals-countdown",$element).each(function() {
				var timer = $(this).data('timer');
				var data = new Date(timer);
				CountDown(data,$(this));
			});
			
			// CLICK THUMB Image
			
			$(".deal-thumbs-grid .box-image-thumb .thumb-item").not('active').click(function() {
				$(".deal-thumbs-grid .box-image-thumb .thumb-item").removeClass('active');
				$(this).addClass('active');
				$('.deal-thumbs-grid .product-item.active').removeClass('active');
				$("#" + $(this).attr("data-href")).addClass('active');
			});
			
        });
    </script>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
