@media (min-width: 1200px) {
    .home-page-1 {
        .image-slider-home {
            width: 600px;
            float: left;
            margin-right: 10px;
        }
    }

    .cms-home-demo-01 {
        .page.messages {
            .messages {
                .message {
                    margin-left: 25.6%;
                    margin-top: 10px;
                }
            }
        }
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 25%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(4n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-page-1 {
        .image-slider-home {
            width: 70%;
            float: left;
        }

        .static-image-1 li {
            margin-bottom: 30px;
        }

        .collections .collect {
            width: 33.33%;
        }
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 33.33%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(3n+1){
                    clear: both;
                }
            }
        }
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page-1 {
        .image-slider-home {
            margin-bottom: 30px;
        }

        .static-image-1 li {
            float: left;
            width: 33.33%;
            margin-bottom: 30px;
        }

        .services-home {
            display: none;
        }

        .static-image-2 {
            width: 100%;

            .static-image a.image-top {
                margin-bottom: 18px;
            }
        }

        .collections .collect {
            width: 33.33%;
        }
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2n+1){
                    clear: both;
                }
            }
        }
    }

}

@media (max-width: 767px) {
    .home-page-1 {
        .image-slider-home {
            margin-bottom: 30px;
        }

        .static-image-1 li {
            float: left;
            width: 33.33%;
            margin-bottom: 30px;
        }

        .services-home {
            display: none;
        }

        .static-image-2 {
            width: 100%;
            padding: 0 10px;

            .static-image {
                float: left;
                width: 33.33%;
                padding: 0 5px;

                .image-top {
                    margin-bottom: 13px;
                }
            }

            .static-image a {
                margin-bottom: 30px;
            }
        }

        .collections .collect {
            width: 50%;
        }
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .home-page-1 {
        .static-image-1 li {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .static-image-2 {
            width: 100%;
            padding: 0 10px;

            .static-image {
                float: left;
                width: 100%;
                padding: 0 5px;

                img {
                    width: 100%;
                }
            }

            .static-image a {
                margin-bottom: 30px;
            }
        }

        .collections .collect {
            width: 100%;
        }
    }

    .sm-categories{
        .cat-wrap{
            .item{
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                clear: both;
            }
        }
    }
}