@media (min-width: 1200px) {
    .home-page-6 {
        .listingtab-custom {
            .ltabs-items-container {
                margin-left: 300px;
            }
        }

        .product-featured .products-grid .item:nth-child(3n+1){
            clear: both;
        }

    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 25%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(4n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-page-6 {
        .slider-deal-type2 {
            padding-bottom: 10px;
        }

        .banner-v61 {
            .left-banner {
                margin: 0;
                width: 66%;
            }

            .right-banner {
                width: 32%;
            }
        }

        .listingtab-custom {
            .custom-image {
                display: none;
            }
        }

    }

    .home-page-6 .listingtab-custom .products-grid .item-inner{
        border: 1px solid #ddd!important;
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 33.33%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(3n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page-6 {
        .slider-deal-type2 {
            padding-bottom: 20px;
        }

        .banner-v61 {
            .left-banner {
                float: none;
                margin: 0 0 10px;
            }

            .right-banner {
                float: none;

                a:first-child {
                    float: left;
                    width: 46%;
                }

                a:last-child {
                    float: right;
                    width: 52%;
                }
            }
        }

        .listingtab-custom {
            .custom-image {
                display: none;
            }


        }

        .full-wrapper-sv .services-v6 .item-inner {
            margin: 15px 0;
        }

    }

    .home-page-6 .listingtab-custom .products-grid .item-inner{
        border: 1px solid #ddd!important;
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .home-page-6 {
        .slider-deal-type2 {
            padding: 20px 20px 30px;

            .products-grid .item .item-inner {
                .box-image {
                    float: none;
                    width: 100%;
                    padding: 0;
                }

                .box-info {
                    float: none;
                    padding-right: 0 !important;
                    width: 100%;

                    .product-name a {
                        white-space: normal;
                    }
                }
            }

            .owl-controls .owl-nav {
                .owl-prev {
                    left: -30px;
                }

                .owl-next {
                    right: -30px;
                }
            }
        }

        .latest-post-wrapper {
            clear: both;
        }

        .product-featured .products-grid .item {
            float: none;

            .item-inner .box-info {
                .product-name a {
                    white-space: normal;
                }

                .bottom-action .btn-action.btn-cart {
                    margin-bottom: 10px;
                }
            }

        }

        .listingtab-custom {
            .custom-image {
                display: none;
            }


        }

        .sm-listing-tabs .ltabs-tabs-container {
            top: -63px !important;
        }

        .banner-v61 {
            .left-banner {
                float: none;
                margin: 0 0 10px;
            }

            .right-banner {
                float: none;

                a:first-child {
                    float: left;
                    width: 46%;
                }

                a:last-child {
                    float: right;
                    width: 52%;
                }
            }
        }

        .full-wrapper-sv .services-v6 .item-inner {
            margin: 15px 0;
        }

    }

    .home-page-6 .listingtab-custom .products-grid .item-inner{
        border: 1px solid #ddd!important;
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: left;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .sm-categories{
        .cat-wrap{
            .item{
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                clear: both;
            }
        }
    }
}