// FOOTER STYLE 5

.footer-style-5 {
    background-color: #000000;
    position: relative;
    color: #ffffff;

    a {
        color: #c9c9c9;
    }

    .footer-top-services {
        padding: 15px 0;
        border-bottom: 1px solid #1a1a1a;

        .services-header {
            li {
                text-align: center;
                float: left;
                width: 33.33%;

                .sv-container {
                    display: inline-block;
                    text-align: left;
                    position: relative;

                    &:before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        background-image: url(../images/icon-image.png);
                        background-repeat: no-repeat;
                    }

                    h4 {
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 116.67%;
                    }

                    p {
                        margin: 0;
                        color: #999999;
                    }
                }

                &.sv-return {
                    .sv-container {
                        padding-left: 47px;

                        &:before {
                            width: 33px;
                            height: 33px;
                            background-position: -130px -315px;
                            top: 0;
                            left: 0;
                        }
                    }
                }

                &.free-shipping {
                    border-left: 1px solid #333333;
                    border-right: 1px solid #333333;

                    .sv-container {
                        padding-left: 68px;

                        &:before {
                            width: 49px;
                            height: 29px;
                            background-position: -183px -317px;
                            top: 4px;
                            left: 0;
                        }
                    }
                }

                &.safe-shopping {
                    .sv-container {
                        padding-left: 45px;

                        &:before {
                            width: 30px;
                            height: 30px;
                            background-position: -260px -317px;
                            top: 4px;
                            left: 0;
                        }
                    }
                }

            }
        }
    }

    .socials-footer {
        .socials-wrap {
            padding: 40px 0;
            border-bottom: 1px solid #1a1a1a;
            text-align: center;

            .title-follow {
                display: inline-block;
                font-size: 133.33%;
                font-weight: 700;
                text-transform: uppercase;
                vertical-align: middle;
            }

            ul {
                display: inline-block;
                vertical-align: middle;

                li {
                    float: left;
                    margin-left: 10px;

                    a {
                        font-size: 18px;
                        display: block;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        color: #fff;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        transition: all 0.2s ease 0s;
                        -webkit-transition: all 0.2s ease 0s;

                        .name-social {
                            display: none;
                        }
                    }

                    &.facebook-social a {
                        background-color: #3b5998;
                    }

                    &.twitter-social a {
                        background-color: #00aced;
                    }

                    &.google-social a {
                        background-color: #dd4b39;
                    }

                    &.pinterest-social a {
                        background-color: #fd47b2;
                    }

                    &.linkedin-social a {
                        background-color: #007bb7;
                    }

                }
            }
        }
    }

    .footer-top {
        padding: 50px 0 40px;
    }

    .footer-bottom {
        .bottom-content {
            border-top: 1px solid #1a1a1a;
            padding: 11px 0;
        }

        .copyright-footer {
            address {
                margin-top: 3px;
                color: #666666;

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        .footer-payment {
            text-align: right;
        }

    }

    .footer-block {
        .footer-block-title {
            h3 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 133.33%;
            }
            margin-bottom: 15px;
        }

        .footer-block-content {
            font-size: 108.33%;

            .links-footer {
                li {
                    margin-bottom: 5px;

                    a {
                        display: inline-block;
                        padding: 2px 0;
                    }
                }
            }

            .links-contact {
                li {
                    position: relative;
                    padding-left: 39px;
                    min-height: 30px;
                    line-height: 18px;
                    color: #8c8c8c;

                    &:before {
                        position: absolute;
                        left: 0;
                        top: 4px;
                        content: "";
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        background: url(../images/icon-image.png) #3d3d3d;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                    }

                    &.add-icon {
                        &:before {
                            background-position: -8px -10px;
                        }
                    }

                    &.email-icon {
                        &:before {
                            background-position: -11px -51px;
                        }
                    }

                    &.phone-icon {
                        &:before {
                            background-position: -11px -91px;
                        }
                    }

                    &.middle-content {
                        padding-top: 9px;
                        margin: 14px 0 20px;
                    }
                }
            }
        }
    }

    .footer-middle {
        padding: 40px 0;
        border-bottom: 1px solid #303e4f;

        .title-middle-footer,
        .title-follow {
            font-size: 133.33%;
            text-transform: uppercase;
            font-weight: 700;
            white-space: nowrap;
            display: table-cell;
            vertical-align: top;
            padding-top: 8px;
        }

        .block-subscribe-footer {
            .form.subscribe {
                display: table-cell;
                width: 100%;
                padding: 0 30px 0 20px;

                .input-box {
                    display: table-cell;
                    vertical-align: top;
                    width: 100%;

                    #newsletter-footer {
                        padding-left: 20px;
                        color: #8c8c8c;
                        height: 40px;
                        border: none;
                        border-radius: 0;
                        -webkit-border-radius: 0;
                        border-top-left-radius: 20px;
                        -webkit-border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                        -webkit-border-bottom-left-radius: 20px;
                    }
                }

                .action-button {
                    display: table-cell;
                    vertical-align: top;

                    button {
                        height: 40px;
                        border-top-right-radius: 20px;
                        -webkit-border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                        -webkit-border-bottom-right-radius: 20px;
                    }
                }

            }
        }

    }

}

