@media (min-width: 1200px) {
    .imgsl-preload,
    .sm-imageslider-loading {
        min-height: 600px;
        background-color: #0074de;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-page-11 {
        .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
            display: inline-block;
        }

        .listingtabs-full .products-grid .item .product-col .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
            display: none;
        }

        .banner1-id11 {
            margin-top: 40px;
        }

        .products-grid .item .product-center .item-inner .box-info {
            padding: 10px 20px 15px;
        }
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .cms-index-index.home-11-style .header-style-11 {
        position: relative;
        background: #222;
    }

    .home-page-11 {
        .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
            display: inline-block;
        }

        .listingtabs-full .products-grid .item {
            .product-col {
                padding: 0;

                .item-content {
                    width: 50%;
                    float: left;
                    padding: 0 15px;
                }

                .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
                    display: none;
                }
            }

            .product-center {
                clear: both;

                .item-inner .box-info {
                    padding: 10px 20px 15px;
                }
            }
        }

        .banner1-id11 {
            margin-top: 40px;
        }

        .services-v6 .item-inner {
            margin: 15px 0;
        }

        .list-product-home .sm-listing-tabs .ltabs-tabs-container {
            right: 0 !important;
        }

    }

}

@media (max-width: 767px) {
    .cms-index-index.home-11-style .header-style-11 {
        position: relative;
        background: #222;
    }

    .home-page-11 {
        .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
            display: inline-block;
        }

        .services-v6 .item-inner {
            margin: 10px 0;
        }

        .listingtabs-full .listingtab-custom .product-center .item-inner .box-info {
            padding: 10px 20px 15px;
        }

        .list-product-home {
            .sm-listing-tabs .ltabs-tabs-container {
                border: 1px solid transparent;
                position: relative;
                margin-right: 53px;
                top: -5px!important;
                left: 0!important;
                width: auto!important;

                .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs {
                    left: 0;
                    right: auto;
                }
            }
        }

        .banner1-id11 {
            margin-top: 40px;

            img {
                width: 100%;
            }
        }

        .full-clientsay-group {
            background-size: auto 100%;
        }

        .clientsay-group .tab-content .des-clientsay .qte-clients:before,
        .clientsay-group .tab-content .des-clientsay .qte-clients:after {
            display: none;
        }

        .banner1-id11 {
            .banner-content {
                .static-image {
                    margin-bottom: 20px;
                }
            }
        }

    }

}

@media (min-width: 481px) and (max-width: 766px) {
    .home-page-11 .listingtabs-full .listingtab-custom {
        .product-center {
            clear: both;
        }

        .product-col {
            padding: 0;

            .item-content {
                width: 50%;
                padding: 0 15px;
                float: left;

                .item-inner .box-info .bottom-action .btn-action.btn-cart {
                    width: 30px !important;
                    padding: 0 !important;

                    span {
                        display: none !important;
                    }
                }
            }
        }

    }
}

@media (max-width: 480px) {
    .home-page-11 .list-product-home .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-current-select{
        display: block!important;
    }
}