@media (min-width: 1200px) {
    .sm-categories{
        .cat-wrap{
            .item{
                float: right;
                width: 25%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(4n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-page-5 {
        .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a.sm_megamenu_head {
            padding: 10px 5px;
        }

        .banner-v51 {
            .left-banner {
                width: 55%;
            }

            .right-banner {
                width: 43%;
            }
        }

        .banner-v52 > a {
            width: 32.3%;
        }

        .fb-fanbox {
            display: none;
        }

        .sm-categories .cat-wrap .content-box img {
            width: 100% !important;
        }
    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: right;
                width: 33.33%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(3n+1){
                    clear: both;
                }
            }
        }
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page-5 {
        .sidebar-megamenu {
            display: none;
        }

        .block-subscribe-home {
            background-size: 100%;
        }

        .fb-fanbox {
            display: none;
        }

        .banner-v51 {
            .left-banner {
                width: 55%;
            }

            .right-banner {
                width: 43.4%;
            }
        }

        .banner-v52 > a {
            width: 32.33%;
        }

        .sm-categories .cat-wrap .content-box img {
            width: 100% !important;
        }

    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: right;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .home-page-5 {
        .sidebar-megamenu {
            display: none;
        }

        .block-subscribe-home {
            background-size: 100%;
        }

        .fb-fanbox {
            display: none;
        }

        .slider-deal-type2 {
            padding: 20px 30px 30px;

            .products-grid .item .item-inner {
                .box-image {
                    float: none;
                    width: 100%;
                    padding: 0;
                }

                .box-info {
                    float: none;
                    padding-right: 0 !important;
                    width: 100%;
                }
            }

            .owl-controls .owl-nav {
                .owl-prev {
                    left: -30px;
                }

                .owl-next {
                    right: -30px;
                }
            }
        }

        .banner-v51 {
            .left-banner {
                margin-bottom: 10px;
            }

            .left-banner,
            .right-banner {
                float: none;
                width: 100%;

                a {
                    display: block !important;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .banner-v52 > a {
            display: block !important;
            float: none !important;
            margin: 0 0 10px !important;

            img {
                width: 100%;
            }
        }

        .services {
            a {
                display: block;
                margin-bottom: 10px;

                img {
                    width: 100%;
                }
            }
        }

        .sm-categories .cat-wrap .content-box .parent-cat {
            margin: 0 !important;
        }

        .sm-categories .cat-wrap .content-box img {
            width: 100% !important;
        }

        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox {
            width: 100%;
            display: inline-block;
            position: relative;

            .ltabs-tab-selected {
                width: 100%;
                padding-left: 30px;
                height: 40px;
                line-height: 40px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .ltabs-tab-arrow {
                height: 40px;
                line-height: 40px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .listing-tab-wrapper .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-tabs {
            top: 39px;

            li {
                float: none;
                display: block;
                margin: 10px;

                span {
                    background: none !important;
                }
            }
        }

    }

    .sm-categories{
        .cat-wrap{
            .item{
                float: right;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;

                &:nth-child(2n+1){
                    clear: both;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .home-page-5 .brand-wrapper .brand-container .brands-content li {
        width: 50%;
    }

    .sm-categories{
        .cat-wrap{
            .item{
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                clear: both;
            }
        }
    }

    .home-page-5 .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-current-select{
        display: block!important;
    }
}