.home-page-5 {
    padding-top: 30px;

    .sm_megamenu_wrapper_vertical_menu {
        z-index: 20;
    }

    .owl-controls {
        .owl-nav {
            div {
                background-color: #fff !important;
                width: 40px !important;
                height: 40px !important;
                border: 1px solid #ddd !important;
                color: #444 !important;
                margin: 0;

                &:before {
                    line-height: 38px !important;
                }

                &:hover {
                    color: #fff !important;
                }
            }
        }
    }

    .slider-deal-type2 {
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .title-home {
        margin-bottom: 25px;
        position: relative;
        text-align: center;

        &:before,
        &:after {
            background: #ddd none repeat scroll 0 0;
            content: "";
            display: inline-block;
            height: 1px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 100%;
        }

        &:after {
            margin-top: -1px;
        }

        &:before {
            margin-top: 1px;
        }

        h2 {
            background: #fff none repeat scroll 0 0;
            color: #444;
            display: inline-block;
            font-size: 150%;
            font-weight: bold;
            padding: 0 12px;
            position: relative;
            text-transform: uppercase;
            top: 2px;
            z-index: 10;

            &:before,
            &:after {
                .font-awesome(f005, 13px);
                margin: 0 3px;
                position: relative;
                top: -2px;
            }
        }
    }

    .banner-v51 {
        display: table;
        width: 100%;
        margin-bottom: 25px;

        .left-banner {
            float: left;
        }

        .right-banner {
            float: right;

            a:first-child {
                margin-bottom: 10px;
            }
        }
    }

    .banner-v52 {
        display: table;
        width: 100%;
        margin-bottom: 25px;

        a {
            float: left;
            margin-right: 10px;

            &:last-child {
                margin: 0;
            }
        }
    }

    .banner-v53 {
        clear: both;
        margin-bottom: 25px;
    }

    .services {
        clear: both;
        margin-bottom: 40px;

        a {
            img {
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .clients-say-container {
        clear: both;
        margin-bottom: 25px;

        .clientsay-wrap {
            border: 1px solid #ddd;
            overflow: hidden;

            .clients-say-content {
                margin: 0 -5px;
                padding: 0 0 30px;

                .item {
                    margin: 0 5px;

                    .image-box-client {
                        height: 76px;

                        .image {
                            background: #fff none repeat scroll 0 0;
                            border: 4px solid #fff;
                            border-radius: 50%;
                            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
                            height: 88px;
                            margin: 0 auto;
                            position: relative;
                            top: 30px;
                            width: 88px;

                            img {
                                border-radius: 50%;
                                -webkit-border-radius: 50%;
                            }
                        }
                    }

                    .info-client {
                        padding: 60px 35px 0;
                        text-align: center;

                        h3 {
                            color: #444;
                            font-size: 116.67%;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }

                        .description {
                            position: relative;

                            &:before,
                            &:after {
                                color: #f44336;
                                position: absolute;
                                font-size: 18px;
                                font-family: fontawesome;
                            }

                            &:before {
                                content: "\f10d";
                                left: -18px;
                                top: 0;
                            }

                            &:after {
                                content: "\f10e";
                                right: -18px;
                                bottom: -4px;
                            }
                        }
                    }
                }
            }

            .owl-controls {
                .owl-nav {
                    padding-top: 40px;

                    div {
                        margin: 0 3px;
                    }
                }
            }
        }
    }

    .collection-sidebar {
        margin-bottom: 30px;
        .collection-content {
            .collection-list {
                display: table;
                width: 100%;
                li {
                    background: #eeeeee;
                    border: 1px solid #eee;
                    border-bottom: 1px solid #fff;
                    a {
                        display: block;
                    }
                    .icon-collection {
                        display: table-cell;
                        vertical-align: middle;
                        height: 50px;
                        min-width: 69px;
                        text-align: center;
                    }
                    .name-collection {
                        display: table-cell;
                        vertical-align: middle;
                        height: 50px;
                        font-size: 116.67%;
                        color: #999999;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    &:hover {
                        background: #fff;
                    }
                }
            }
        }
    }

    .listing-tab-wrapper {
        clear: both;
        overflow: hidden;
        margin-left: -5px;
        margin-right: -5px;
        padding: 0 5px 5px;

        .owl-stage-outer{
            overflow: visible;
        }

        .title-home {
            margin-bottom: 15px;
        }

        .sm-listing-tabs {
            .ltabs-tabs-container {
                margin-bottom: 30px;
                position: static;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;

                .ltabs-tabs-wrap {
                    text-align: center;

                    .ltabs-tabs {
                        li {
                            float: none;
                            display: inline-block;
                            border: 1px solid #ddd;
                            margin: 0 3px;
                            font-weight: bold;
                            color: #999999;
                            padding: 0 7px;
                            position: relative;
                            text-transform: uppercase;
                            line-height: 30px;

                            &.tab-sel,
                            &:hover {
                                color: #fff;
                            }

                            &.tab-sel {
                                &:before {
                                    border-bottom: 6px solid #fff;
                                    border-left: 6px solid transparent;
                                    bottom: 2px;
                                    content: "";
                                    display: inline-block;
                                    height: 0;
                                    position: absolute;
                                    right: 2px;
                                    width: 0;
                                }
                            }
                        }
                    }
                }

            }

            .owl-controls .owl-nav {
                position: static;
                top: auto;
                right: auto;
                left: auto;
                bottom: auto;

                div {
                    position: absolute;
                    top: 50%;
                    margin-top: -20px;
                    opacity: 0;

                    &.owl-next {
                        right: 0;
                    }

                    &.owl-prev {
                        left: 0;
                    }
                }
            }

            .ltabs-items-container {
                &:hover {
                    .owl-controls .owl-nav div {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .brand-wrapper {
        margin-bottom: 20px;

        .brand-container {
            .brands-content {
                margin: 0 -5px;

                li {
                    padding: 0 5px;
                    margin-bottom: 10px;
                    float: left;
                    width: 33.33%;

                    a {
                        display: block;
                        border: 1px solid #ddd;

                    }
                }
            }
        }
    }

    .products-sidebar {
        margin-bottom: 30px !important;

        .item {
            margin-bottom: 20px;

            .item-inner {
                .box-image {
                    width: 80px;
                }

                .box-info .product-name {
                    font-size: 116.67%;
                }
            }
        }
    }

    .sidebar-megamenu {
        margin-bottom: 25px;

        .btn-megamenu {
            background: #444444;
            a {
                display: block;
                line-height: 50px;
                text-transform: uppercase;
                font-weight: 700;
                padding: 0 12px 0 20px;
                font-size: 116.67%;
                color: #fff;

                &:before,
                &:after {
                    content: "";
                    background: url(../images/icon-image.png) no-repeat;
                    display: inline-block;
                    vertical-align: middle;
                }

                &:before {
                    width: 14px;
                    height: 11px;
                    margin-right: 5px;
                    background-position: -68px -103px;
                }

                &:after {
                    width: 15px;
                    height: 15px;
                    background-position: -67px -59px;
                    float: right;
                    position: relative;
                    top: 19px;
                }
            }
        }
    }

    .slider-post {
        margin-bottom: 28px;

        .date-post-title {
            .date-post {
                color: #fff;
                float: left;
                font-weight: bold;
                padding: 5px;
                text-align: center;
                width: 40px;
            }

            .postTitle {
                font-size: 116.67%;
                font-weight: bold;
                line-height: 1.4;
                margin-left: 55px;
                min-height: 50px;
                padding-right: 5px;
                padding-top: 10px;
                margin-bottom: 10px;
            }
        }

        .postContent {
            font-size: 108.33%;
        }

        .owl-controls .owl-nav div {
            position: absolute;
            top: 32%;
            margin-top: -20px;
            opacity: 0;

            &.owl-next {
                right: 0;
            }

            &.owl-prev {
                left: 0;
            }
        }

        &:hover {
            .owl-controls .owl-nav div {
                opacity: 1;
            }
        }
    }

    .hot-cat-full {
        background-color: #f5f5f5;
        padding-top: 40px;
        padding-bottom: 10px;

        .title-home h2 {
            background-color: #f5f5f5;
        }

        .sm-categories .cat-wrap {
            margin: 0 -15px;
            width: auto;
            display: block;

            .content-box {
                background-color: #fff;
                margin-bottom: 30px;

                .cat-title{
                    padding: 10px 20px 0;
                }

                .child-cat {
                    padding: 0 20px 20px;
                }
            }
        }
    }

    .fb-fanbox {
        margin-bottom: 30px;
    }

}