@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .link-right {
        display: none;
    }

    .sm_megamenu_wrapper_horizontal_menu ul.sm_megamenu_menu {
        text-align: center;

        > li {
            float: none;
            display: inline-block;
            margin: 0 5px;

            > a {
                margin: 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-style-10 {
        .header-top-services {
            height: 13px;
            padding: 0 !important;

            .container {
                display: none;
            }
        }

        .link-right {
            display: none;
        }

        .menu-full {
            display: none;
        }

        .minicart-wrapper {
            margin-left: 1px;
            margin-top: 0;
        }

        .header-top {
            .toplinks-wrapper {
                position: relative;

                &:before {
                    background-color: #000;
                    height: 36px;
                    width: 40px;
                    text-align: center;
                    .font-awesome(f007, 16px);
                    line-height: 36px;
                    color: #fff;
                }

                .header.links {
                    display: none;
                    position: absolute;
                    background-color: #333;
                    top: 35px;
                    left: 0;
                    padding: 10px 20px 10px 30px;
                    z-index: 99;

                    li {
                        display: block;
                        margin: 0 !important;

                        a {
                            white-space: nowrap;
                            color: #fff;
                        }
                    }
                }

                &:hover {
                    &:before {
                        background-color: #333;
                    }

                    .header.links {
                        display: block;
                    }
                }
            }
        }

        .header-middle {
            position: relative;
            padding: 20px 0 !important;

            .searchbox-header {
                position: absolute;
                bottom: -42px;
                right: 60px;
                left: 10px;
                padding: 0;
                z-index: 88;

                .search-wrapper {
                    .block-content {
                        display: block;
                        float: none;

                        .field.search {
                            width: 100%;

                            .control .input-text {
                                padding-left: 10px;
                                background-color: #fff;
                                border: none;
                                width: 100%;
                                height: 34px;
                                border-radius: 0;
                                -webkit-border-radius: 0;
                            }
                        }
                    }

                    .actions .btn-search-header {
                        width: 34px;
                        height: 34px;
                        border-radius: 0;
                        -webkit-border-radius: 0;
                    }

                }
            }
        }

        .header-wrapper .header-bottom {
            background-color: #333;
            margin-bottom: 30px;
            height: 50px;
        }

        .navigation-mobile-container {
            display: block;

            .btn-mobile {
                width: 50px;
                height: 50px;
                border-left: 1px solid #fff;
                text-align: center;

                .button-mobile {
                    display: block;
                    line-height: 50px;
                    font-size: 25px;
                    position: relative;
                    z-index: 99;
                }
            }
        }
    }

}

@media (max-width: 767px) {
    .header-style-10 {
        .header-top-services {
            height: 13px;
            padding: 0 !important;

            .container {
                display: none;
            }
        }

        .link-right {
            display: none;
        }

        .menu-full {
            display: none;
        }

        .minicart-wrapper {
            margin-left: 1px;
            margin-top: 0;
        }

        .header-top {
            .language-currency {
                width: 60%;
                float: right;

                .currency-wrapper {
                    margin: 0 !important;
                }
            }

            .right-content {
                width: 40%;
                float: left;
            }

            .toplinks-wrapper {
                position: relative;

                &:before {
                    background-color: #000;
                    height: 36px;
                    width: 40px;
                    text-align: center;
                    .font-awesome(f007, 16px);
                    line-height: 36px;
                    color: #fff;
                }

                .header.links {
                    display: none;
                    position: absolute;
                    background-color: #333;
                    top: 35px;
                    left: 0;
                    padding: 10px 20px 10px 30px;
                    z-index: 99;

                    li {
                        display: block;
                        margin: 0 !important;

                        a {
                            white-space: nowrap;
                            color: #fff;
                        }
                    }
                }

                &:hover {
                    &:before {
                        background-color: #333;
                    }

                    .header.links {
                        display: block;
                    }
                }
            }
        }

        .header-middle {
            position: relative;
            padding: 20px 0 !important;

            .searchbox-header {
                position: absolute;
                bottom: -42px;
                right: 60px;
                left: 10px;
                padding: 0;
                z-index: 88;

                .search-wrapper {
                    .block-content {
                        display: block;
                        float: none;

                        .field.search {
                            width: 100%;

                            .control .input-text {
                                padding-left: 10px;
                                background-color: #fff;
                                border: none;
                                width: 100%;
                                height: 34px;
                                border-radius: 0;
                                -webkit-border-radius: 0;
                            }
                        }
                    }

                    .actions .btn-search-header {
                        width: 34px;
                        height: 34px;
                        border-radius: 0;
                        -webkit-border-radius: 0;
                    }

                }
            }
        }

        .header-wrapper .header-bottom {
            background-color: #333;
            margin-bottom: 30px;
            height: 50px;
        }

        .navigation-mobile-container {
            display: block;

            .btn-mobile {
                width: 50px;
                height: 50px;
                border-left: 1px solid #fff;
                text-align: center;

                .button-mobile {
                    display: block;
                    line-height: 50px;
                    font-size: 25px;
                    position: relative;
                    z-index: 99;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .cart-wrapper .mage-dropdown-dialog {
        width: 290px;
        left: 0;
    }
}