@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-page-8 {
        .right-content-index .slideshow-banner {
            .slidershow-content {
                margin-right: 0;
                max-width: 630px;
            }

            .banner-right-index .banner-v81 {
                margin-bottom: 30px;
            }
        }
        .right-content-index .product-featured {
            margin-right: 0;
        }

        .banner82 {
            .banner {
                width: 32.6%;
            }
        }

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page-8 {
        .right-content-index {
            .slideshow-banner {
                .slidershow-content {
                    margin-right: 0;
                    max-width: 100%;
                    margin-bottom: 10px;
                }

                .banner-right-index {
                    display: table;
                    float: none;
                    clear: both;
                    width: 100%;

                    .banner-v81 {
                        width: 39%;
                        float: right;
                    }

                    .newsletter-right {
                        width: 60%;
                        float: left;

                        .block-subscribe-v8 {
                            background-size: 100% 100%;
                            padding: 30px 20px 35px;

                            .form.subscribe .input-box #newsletter {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .product-featured {
                margin-right: 0;
            }
        }

        .listingtab-custom {
            .sm-listing-tabs .ltabs-tabs-container {
                left: 0 !important;
            }
        }

        .banner82 {
            .banner {
                width: 32.4%;
            }
        }

        .slider-deal-type2 {
            padding-bottom: 30px;
        }

    }
}

@media (max-width: 767px) {
    .home-page-8 {
        .right-content-index {
            .slideshow-banner {
                .slidershow-content {
                    margin-right: 0;
                    max-width: 100%;
                    margin-bottom: 10px;
                }

                .banner-right-index {
                    float: none;
                    clear: both;
                    display: table;
                    width: 100%;

                    .banner-v81 {
                        width: 100%;
                        float: none;

                        img {
                            width: 100%;
                        }
                    }

                    .newsletter-right {
                        width: 100%;
                        float: none;

                        .block-subscribe-v8 {
                            background-size: 100% 100%;
                            padding: 30px 20px 35px;

                            .form.subscribe .input-box #newsletter {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .product-featured {
                margin-right: 0;
            }
        }

        .services-v7 {
            .item-sv {
                margin: 15px 0;

                img {
                    width: 100%;
                }
            }

        }

        .sm-listing-tabs .ltabs-tabs-container {
            top: -63px !important;
        }

        .listingtab-custom {
            .sm-listing-tabs .ltabs-tabs-container {
                border: 1px solid transparent;
                position: relative;
                margin-left: 53px;
                top: -5px!important;
                right: 0!important;
                width: auto!important;

                .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs {
                    right: 0;
                    left: auto;
                }
            }
        }

        .sm-listing-tabs .ltabs-tabs-container {
            li {
                display: block;
                width: 100%;
                text-align: right;
                padding-right: 0 !important;
                text-transform: none;
                font-size: 100% !important;

                &:before {
                    display: none !important;
                }
            }
        }

        .banner82 {
            .banner {
                width: 100%;
                float: none;
                margin-bottom: 10px;

                img {
                    width: 100%;
                }
            }
        }

        .slider-deal-type2 {
            padding: 20px 20px 30px;

            .products-grid .item .item-inner {
                .box-image {
                    float: none;
                    width: 100%;
                    padding: 0;
                }

                .box-info {
                    float: none;
                    padding-left: 0 !important;
                    width: 100%;

                    .product-name a {
                        white-space: normal;
                    }
                }
            }

            .owl-controls .owl-nav {
                .owl-prev {
                    left: -20px;
                }

                .owl-next {
                    right: -20px;
                }
            }
        }

    }
}

@media (max-width: 480px) {
    .home-page-8 .listingtab-custom .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-current-select{
        display: block!important;
    }
}