.home-page-8 {
    .right-content-index {
        .slideshow-banner {
            padding-top: 10px;
            margin-bottom: 30px;

            .slidershow-content {
                float: left;
                margin-left: -20px;
                max-width: 600px;
            }

            .banner-right-index {
                width: 280px;
                float: right;
                margin-bottom: 10px;

                .banner-v81 {
                    margin-bottom: 10px;
                }

                .block-subscribe-v8 {
                    padding: 20px 20px 25px;
                    background: url(../images/bg-newsletter-v8.jpg) no-repeat 0 0;
                    color: #fff;

                    .newsletter-title {
                        font-size: 166.67%;
                        font-weight: bold;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }

                    .description-newsletter {
                        margin-bottom: 15px;
                    }

                    .form.subscribe {
                        position: relative;

                        .input-box {
                            div.mage-error {
                                display: none !important;
                            }

                            #newsletter {
                                height: 40px;
                                border: none;
                                width: 194px;
                                margin-right: 46px;
                                color: #999;
                            }
                        }

                        button.subscribe {
                            background-color: #fff;
                            width: 45px;
                            text-align: center;
                            line-height: 42px;
                            height: 40px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            padding: 0 !important;

                            &:before {
                                .font-awesome(f1d8, 18px);
                            }

                            &:hover {
                                background-color: #444;

                                &:before {
                                    color: #fff;
                                }
                            }

                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .product-featured {
            clear: both;
            margin-left: -20px;

            .basic-product-slider {
                margin: 0;
            }

            .products-grid {
                .item {
                    .item-inner {
                        margin: 0;

                        .sm_quickview_handler {
                            display: none !important;
                        }

                        &:after {
                            content: "";
                            display: block;
                            width: 100%;
                            clear: both;
                        }

                        .box-image {
                            float: left;
                            width: 126px;
                        }

                        .box-info {
                            margin-left: 130px;
                            padding-left: 0;
                            padding-right: 10px;
                            padding-bottom: 9px;

                            .product-name {
                                font-size: 100%;
                                text-overflow: clip;
                                line-height: 1.6;

                                a {
                                    white-space: normal;
                                    display: inline-block;
                                }
                            }
                        }

                        &:hover {
                            box-shadow: none;
                            -webkit-box-shadow: none;
                        }
                    }
                }
            }

            .owl-controls .owl-nav {

                div {
                    background-color: #fff;
                    border: 1px solid #ddd;
                    color: #666;
                    height: 27px;
                    width: 20px;
                    margin: -14px 0 0;
                    position: absolute;
                    top: 50%;
                    opacity: 0;

                    &:before {
                        line-height: 26px;
                    }

                    &:hover {
                        &:before {
                            color: #fff;
                        }
                    }

                    &.owl-next {
                        right: 0;
                    }

                    &.owl-prev {
                        left: 0;
                    }
                }
            }

            &:hover {
                .owl-controls .owl-nav div {
                    opacity: 1;
                }
            }
        }
    }

    .slider-deal-type2 {
        border: 3px solid #ececec;
        padding: 10px 70px;
        margin-bottom: 60px;
    }

    .clients-say-container {
        clear: both;
        margin-bottom: 60px;
        background-color: #fff;

        .title-home {
            display: none;
        }

        .clientsay-wrap {
            box-shadow: 0 0 0 3px #ececec inset;
            -webkit-box-shadow: 0 0 0 3px #ececec inset;
            overflow: hidden;

            .clients-say-content {
                margin: 0 -5px;
                padding: 0 0 41px;

                .item {
                    margin: 0 5px;

                    .image-box-client {
                        height: 80px;

                        .image {
                            background: #fff none repeat scroll 0 0;
                            border: 4px solid #fff;
                            border-radius: 50%;
                            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
                            height: 88px;
                            margin: 0 auto;
                            position: relative;
                            top: 30px;
                            width: 88px;

                            img {
                                border-radius: 50%;
                                -webkit-border-radius: 50%;
                            }
                        }
                    }

                    .info-client {
                        padding: 60px 35px 0;
                        text-align: center;

                        h3 {
                            color: #444;
                            font-size: 116.67%;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }

                        .description {
                            position: relative;

                            &:before,
                            &:after {
                                color: #f44336;
                                position: absolute;
                                font-size: 18px;
                                font-family: fontawesome;
                            }

                            &:before {
                                content: "\f10d";
                                left: -18px;
                                top: 0;
                            }

                            &:after {
                                content: "\f10e";
                                right: -18px;
                                bottom: -4px;
                            }
                        }
                    }
                }
            }

            .owl-controls {
                .owl-nav {
                    padding-top: 40px;
                    div {
                        background-color: #fff !important;
                        width: 40px !important;
                        height: 40px !important;
                        border: 1px solid #ddd !important;
                        color: #444 !important;
                        margin: 0 3px;

                        &:before {
                            line-height: 38px !important;
                        }

                        &:hover {
                            color: #fff !important;
                        }
                    }
                }
            }

        }

    }

    .banner82 {
        display: table;
        margin-bottom: 60px;
        width: 100%;

        .banner {
            float: left;
            margin-right: 10px;

            &:last-child {
                margin: 0;

                a:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .collections {
        margin: 0 0 60px 0;
        position: relative;

        .collect {
            float: none;
            padding: 0;
            width: 100%;
        }

        .owl-controls .owl-nav {
            position: absolute;
            right: -3px;
            top: -63px;

            div {
                background-color: transparent;
                border: 1px solid #ddd;
                color: #666;
                height: 27px;
                width: 20px;

                &:before {
                    line-height: 26px;
                }

                &:hover {
                    color: #fff;
                }
            }
        }

    }

    .listingtab-custom {
        overflow: hidden;
        margin-left: -5px;
        margin-right: -5px;
        padding: 5px;
        margin-bottom: 20px;

        .title-home-page{
            display: none;
        }

        .owl-carousel .owl-stage-outer{
            overflow: visible;
        }

        .sm-listing-tabs {
            .ltabs-tabs-container {
                border-bottom: 1px solid #ddd;
                position: relative;
                top: auto;
                right: auto;
                margin-bottom: 30px;

                &:before {
                    content: "";
                    display: inline-block;
                    width: 100px;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                }

                .ltabs-tabs li {
                    border: none;
                    color: #888888;
                    font-size: 133.33%;
                    font-weight: bold;
                    position: relative;
                    padding-right: 22px;
                    margin-right: 22px;
                    margin-bottom: 3px;
                    text-transform: uppercase;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:before {
                        content: "";
                        display: inline-block;
                        width: 2px;
                        height: 14px;
                        background-color: #888;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -7px;
                    }

                    &:last-child {
                        &:before {
                            display: none;
                        }
                    }

                    &.tab-sel,
                    &:hover {
                        color: #333;
                    }
                }
            }

            .ltabs-items-container.show-slider .ltabs-items .ltabs-item .item-inner {
                margin-bottom: 30px;
            }


        }

        .sm-listing-tabs .owl-controls .owl-nav {
            position: absolute;
            top: -63px;
            right: -3px;

            div {
                background-color: transparent;
                border: 1px solid #ddd;
                color: #666;
                height: 27px;
                width: 20px;

                &:before {
                    line-height: 25px;
                }

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .listingtab-default {
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: 25px;
        padding: 5px;
        overflow: hidden;

        .owl-carousel .owl-stage-outer{
            overflow: visible;
        }

        .ltabs-wrap {
            .ltabs-tabs-container {
                position: absolute;
                right: 80px;
                top: -63px;

                .ltabs-tabs {
                    .ltabs-tab {
                        border-left: 1px solid transparent;
                        border-right: 1px solid transparent;
                        border-top: 2px solid transparent;
                        cursor: pointer;
                        float: left;
                        height: 33px;
                        line-height: 29px;
                        padding: 0 20px;
                        text-transform: uppercase;

                        &.tab-sel {
                            background-color: #fff;
                            border-left: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                        }
                    }
                }
            }
        }

        .sm-listing-tabs .owl-controls .owl-nav {
            position: absolute;
            top: -63px;
            right: -3px;

            div {
                background-color: transparent;
                border: 1px solid #ddd;
                color: #666;
                height: 27px;
                width: 20px;

                &:before {
                    line-height: 25px;
                }

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .full-categories {
        background: url(../images/bg-services.png);
        padding-bottom: 60px;
        padding-top: 15px;
        margin-bottom: 55px;

        .sm-categories {
            margin: 0 !important;
            overflow: visible;

            .cat-wrap {
                .content-box {
                    width: 100% !important;
                    padding: 0 !important;
                    background-color: #fff;

                    .cat-title {
                        padding: 10px 20px 0;
                    }

                    .child-cat {
                        padding: 0 20px 20px;

                        .child-title a {
                            display: inline-block;
                            font-size: 108.33%;
                            padding: 3px 0;
                        }

                    }
                }
            }
            .owl-controls .owl-nav {
                position: absolute;
                top: -63px;
                right: -3px;

                div {
                    background-color: #fff;
                    border: 1px solid #ddd;
                    color: #666;
                    height: 27px;
                    width: 20px;

                    &:before {
                        line-height: 26px;
                    }

                    &:hover {
                        &:before {
                            color: #fff;
                        }
                    }
                }
            }

        }
    }

    .latest-post-type2 {
        margin-bottom: 60px;
    }

    .brand-wrapper {
        margin-bottom: 55px;
    }
}