@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
        display: inline-block !important;
    }

    .home-page-15 {
        .slider-product-home .owl-controls .owl-nav div,
        .slider-post-home .owl-controls .owl-nav div {
            position: relative;
            left: auto !important;
            right: auto !important;
            top: auto !important;
            margin: 0 10px;
        }

        .slider-post-home .owl-controls .owl-nav div {
            margin-top: 40px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
        display: inline-block !important;
    }

    .home-page-15 {
        .slider-product-home .owl-controls .owl-nav div,
        .slider-post-home .owl-controls .owl-nav div {
            position: relative;
            left: auto !important;
            right: auto !important;
            top: auto !important;
            margin: 0 10px;
        }

        .slider-post-home .owl-controls .owl-nav div {
            margin-top: 40px;
        }

        .static-banner-id15 {
            .static-content-left {
                float: none;
                margin: 0;

                .static-banner {
                    img {
                        width: 100%;
                    }
                }
            }

            .static-content-center,
            .static-content-right {
                margin: 0;

                .static-banner {
                    margin-top: 15px;

                    img {
                        width: 100%;
                    }
                }

            }

            .static-content-center {
                .static-banner {
                    margin-right: -9px;
                }
            }

            .static-content-right {
                .static-banner {
                    margin-left: -9px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart:before {
        display: inline-block !important;
    }

    .services-top {
        display: none;
    }

    .home-page-15 {


        .slider-product-home .owl-controls .owl-nav div,
        .slider-post-home .owl-controls .owl-nav div {
            position: relative;
            left: auto !important;
            right: auto !important;
            top: auto !important;
            margin: 0 10px;
        }

        .slider-post-home .owl-controls .owl-nav div {
            margin-top: 40px;
        }

        .static-banner-id15 {
            .static-content-left {
                float: none;
                margin: 0;

                .static-banner {
                    img {
                        width: 100%;
                    }
                }
            }

            .static-content-center,
            .static-content-right {
                margin: 0;

                .static-banner {
                    margin-top: 15px;

                    img {
                        width: 100%;
                    }
                }

            }

            .static-content-center {
                .static-banner {
                    margin-right: -9px;
                }
            }

            .static-content-right {
                .static-banner {
                    margin-left: -9px;
                }
            }
        }

        .categories-content .info-cat {
            margin-bottom: 40px;
        }

        .list-brand-home {
            text-align: center;

            ul li {
                display: inline-block;
                float: none;
                width: 30%;
                margin: 10px 0;
            }
        }
    }

}

@media (max-width: 480px) {
    .static-banner-id15 .static-content-center .static-banner {
        margin-right: -12px;
    }

    .static-banner-id15 .static-content-right .static-banner {
        margin-left: -12px;
    }

    .list-brand-home {
        text-align: center;

        ul li {
            width: 45%;
        }
    }
}