.image-slider-home {
    margin-bottom: 30px;

    .owl-controls .owl-nav div {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        margin-top: -30px;
        opacity: 1;
        border-radius: 50%;
        -webkit-border-radius: 50%;

        &:before{
            line-height: 60px;
        }

        &.owl-next {
            right: 30px;
        }

        &.owl-prev {
            left: 30px;
        }
    }
}

.home-15-style {
    .products-grid .item .item-inner {
        border: none;

        .box-info {
            text-align: center;
            padding: 10px 5px 15px;

            .bottom-action {
                width: 100%;

                .actions-primary,
                .actions-secondary,
                form,
                .btn-action {
                    float: none;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 1px;
                }

                .btn-action {
                    margin: 0;

                    &.btn-cart {
                        width: 30px;
                        padding: 0 !important;

                        span {
                            display: none;
                        }
                    }
                }

            }
        }
    }
}

.cms-index-index.home-15-style {
    &.layout-boxed {
        .full-wrapper {
            margin-left: 0;
            margin-right: 0;

            .full-content {
                width: 100% !important;
            }
        }
    }
}

.home-page-15 {
    .title-home {
        text-align: center;

        h2 {
            font-size: 250%;
            font-weight: 700;
            text-transform: uppercase;
            color: #111;
            margin-bottom: 10px;
        }
    }

    .short-des {
        text-align: center;
        font-size: 108.33%;
        margin-bottom: 40px;
    }

    .slider-post {
        .info-blog {
            padding-top: 10px;
            direction: rtl;
        }

        .date-post-title {
            .date-post {
                background-color: #000;
                color: #fff;
                float: right;
                padding: 7px 0;
                text-align: center;
                width: 50px;
                font-weight: 700;

                .day {
                    font-size: 150%;
                    line-height: 1.1;
                }

                .month {
                    text-transform: uppercase;
                }
            }

            .postTitle {
                font-size: 116.67%;
                font-weight: 700;
                color: #000;
                line-height: 1.4;
                margin-right: 60px;
                min-height: 50px;
                padding-top: 6px;
                margin-bottom: 10px;
            }
        }

        .shortdes-post {
            font-size: 108.33%;
        }
    }

    .owl-controls .owl-nav div {
        width: 60px !important;
        height: 60px !important;
        margin: 0;
        background-color: #e5e5e5;
        border: none;
        opacity: 1 !important;
        border-radius: 50%;
        -webkit-border-radius: 50%;

        &:before {
            line-height: 60px;
            font-size: 40px;
            opacity: 1 !important;
        }
    }

    .slider-product-home,
    .slider-post-home {
        .owl-controls .owl-nav div {
            position: absolute;
            top: 50%;
            margin-top: -30px;

            &.owl-next {
                right: -80px;
            }

            &.owl-prev {
                left: -80px;
            }
        }
    }



    .slider-product-home {
        padding: 90px 0 30px;

        .owl-stage-outer {
            padding-top: 5px;
        }
    }

    .list-brand-home {
        display: table;
        width: 100%;
        margin-bottom: 20px;
    }

    .slider-post-home {
        border-bottom: 1px dashed #d9d9d9;
        margin-bottom: 20px;
        padding-bottom: 90px;
    }
}