@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-style-3 .header-bottom {
        .searchbox-header {
            width: 280px;

            .sm-searchbox .sm-searchbox-content .control {
                .searchbox-cat {
                    display: none;
                }

                #searchbox {
                    padding-left: 10px;
                }
            }
        }

        .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li > .sm_megamenu_head {
            padding: 0 10px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-style-3 {
        .welcome-text {
            display: none;
        }

        .main-megamenu {
            display: none;
        }

        .navigation-mobile-container {
            display: block;
            height: 50px;

            .btn-mobile {
                height: 50px;

                .button-mobile {
                    background-color: #444;
                    width: 34px;
                    height: 34px;
                    padding: 0;
                    border: 1px solid #444;
                    font-size: 24px;
                    margin-top: 8px;

                    i {
                        display: inline-block !important;
                        line-height: 32px;
                        margin: 0;
                        text-align: center;
                        vertical-align: top;
                        width: 100%;
                    }
                }
            }
        }

        .header-middle {
            padding: 30px 0 20px;

            .logo-content {
                text-align: center;
            }

            .middle-right-content {
                position: relative;

                .call-us {
                    display: none;
                }

                .minicart-header {
                    display: inline-block;
                    padding: 0;
                    position: absolute;
                    top: auto;
                    right: 0;
                    bottom: -65px;
                    z-index: 10006;

                    .minicart-content {
                        .cart-wrapper {
                            .minicart-wrapper {
                                .showcart {
                                    height: 34px;
                                    width: 36px;
                                    padding: 0;

                                    .text,
                                    .counter.qty {
                                        display: none;
                                    }
                                }

                                .block-minicart {
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-bottom {
            .searchbox-header {
                right: 44px;
                left: 44px;
                width: auto;
            }
        }

    }
}

@media (max-width: 767px) {
    .header-style-3 .header-top .header-top-links .toplinks-wrapper .header.links li.myaccount-link a:before {
        text-indent: 12px;
        left: 0;
    }

    .header-style-3 .header-top .header-top-links .toplinks-wrapper .header.links li.link.wishlist a:before {
        left: 0;
        text-indent: 10px;
    }

    .header-style-3 .header-top .header-top-links .toplinks-wrapper .header.links li.checkout-link a:before {
        left: 0;
        text-indent: 11px;
    }

    .header-style-3 {
        .welcome-text {
            display: none;
        }

        .header-top {
            .customer-action-header {
                float: left;
            }

            .header-top-links {
                float: right;
            }

            .header-top-links .toplinks-wrapper .header.links li a {
                width: 34px;
                overflow: hidden;
                text-indent: 999px;
            }
        }

        .sm-searchbox .sm-searchbox-content .control {
            .searchbox-cat {
                display: none;
            }

            #searchbox {
                padding-left: 10px !important;
            }
        }

        .main-megamenu {
            display: none;
        }

        .navigation-mobile-container {
            display: block;
            height: 50px;

            .btn-mobile {
                height: 50px;

                .button-mobile {
                    background-color: #444;
                    width: 34px;
                    height: 34px;
                    padding: 0;
                    border: 1px solid #444;
                    font-size: 24px;
                    margin-top: 8px;

                    i {
                        display: inline-block !important;
                        line-height: 32px;
                        margin: 0;
                        text-align: center;
                        vertical-align: top;
                        width: 100%;
                    }
                }
            }
        }

        .header-middle {
            padding: 30px 0 20px;

            .logo-content {
                text-align: center;
            }

            .middle-right-content {
                position: relative;

                .call-us {
                    display: none;
                }

                .minicart-header {
                    display: inline-block;
                    padding: 0;
                    position: absolute;
                    top: auto;
                    right: 0;
                    bottom: -65px;
                    z-index: 10006;

                    .minicart-content {
                        .cart-wrapper {
                            .minicart-wrapper {
                                .showcart {
                                    height: 34px;
                                    width: 34px;
                                    padding: 0;

                                    .text,
                                    .counter.qty {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-bottom {
            .searchbox-header {
                right: 44px;
                left: 44px;
                width: auto;
            }
        }

    }
}

@media (max-width: 480px) {
    .header-style-3 {
        .header-top {
            height: auto;

            .header-top-links,
            .customer-action-header {
                float: none;
            }

            .customer-action-hd {
                border-bottom: 1px solid #ddd;
                text-align: center;
                padding-bottom: 5px;
            }

            .header-top-links {
                text-align: center;

                .switcher-currency .dropdown .mage-dropdown-dialog {
                    left: 0;
                    right: auto;
                }

                .toplinks-wrapper .header.links li a {
                    width: 34px;
                    text-indent: 999px;
                    overflow: hidden;
                }

                .currency-wrapper,
                .language-wrapper,
                .toplinks-wrapper {
                    display: inline-block;
                    float: none;
                    vertical-align: top;
                    text-align: left;
                }
            }
        }

        .minicart-wrapper .block-minicart {
            right: 0;
        }

        .cart-wrapper .mage-dropdown-dialog {
            width: 290px;
            right: 0;
        }
    }
}