.cms-index-index .header-style-3 .header-bottom .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li.home-item-parent > a {
    color: #fff;
}

.header-style-3 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    .header-top {
        background-color: #eeeeee;
        height: 34px;

        .customer-action-hd {
            margin-top: 7px;

            a {
                font-weight: 700;
                color: #00abf0;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .header-top-links {
            .language-wrapper,
            .currency-wrapper {
                float: left;

                .dropdown .mage-dropdown-dialog {
                    left: 0;
                }

                .switcher-label {
                    display: none;
                }

                .switcher-trigger {
                    padding: 0 11px;
                    border: 1px solid #ddd;
                    margin-top: 6px;
                    cursor: pointer;
                    position: relative;

                    &.active {
                        background-color: #fff;

                        &:before {
                            content: "";
                            display: inline-block;
                            width: 100%;
                            height: 10px;
                            background-color: #fff;
                            position: absolute;
                            left: 0;
                            bottom: -6px;
                            z-index: 100000;
                        }
                    }

                    strong {
                        font-weight: normal;
                        color: #444;

                        &:after {
                            .font-awesome(f107, 12px);
                            margin-right: 3px;
                        }
                    }
                }

                .mage-dropdown-dialog {
                    ul {
                        li {
                            a {
                                display: block;
                                padding: 3px 0;
                            }
                        }
                    }
                }
            }

            .currency-wrapper {
                margin-right: 5px;
            }

            .switcher-currency {
                .dropdown .mage-dropdown-dialog {
                    left: 0;
                    right: auto;
                }
            }

            .language-wrapper {
                margin-right: 5px;

                .switcher-trigger {
                    strong {
                        padding-right: 20px;
                        background-repeat: no-repeat;
                        background-position: right center;
                    }
                }

                .mage-dropdown-dialog {
                    right: 0;
                    left: auto;

                    ul {
                        li {
                            a {
                                background-repeat: no-repeat;
                                background-position: right center;
                                white-space: nowrap;
                                padding-right: 20px;
                            }
                        }
                    }
                }
            }

            .toplinks-wrapper {
                float: left;

                .header.links {
                    li {
                        float: right;

                        a {
                            position: relative;

                            &:hover {
                                &:before {
                                    color: #fff;
                                }
                            }
                        }

                        &.link.compare {
                            display: none;
                        }

                        &.myaccount-link {
                            a {
                                &:before {
                                    .font-awesome(f007, 13px);
                                    position: absolute;
                                    right: -18px;
                                    top: 11px;
                                }
                            }
                        }

                        &.link.wishlist {
                            a {
                                &:before {
                                    .font-awesome(f004, 13px);
                                    position: absolute;
                                    right: -20px;
                                    top: 11px;
                                }
                            }
                        }

                        &.checkout-link {
                            a {
                                &:before {
                                    .font-awesome(f046, 14px);
                                    position: absolute;
                                    right: -20px;
                                    top: 11px;
                                }
                            }
                        }

                        &.authorization-link {
                            a {
                                display: none;
                            }
                        }

                        a {
                            white-space: nowrap;
                            display: block;
                            line-height: 34px;
                            height: 34px;
                            overflow: hidden;
                            text-indent: 30px;
                            padding-left: 10px;
                            transition: padding 0.4s ease 0s;
                            -webkit-transition: padding 0.4s ease 0s;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-middle {
        padding: 28px 0 21px;
        border-bottom: 1px solid #ddd;

        .logo-header {
            .logo-wrapper {
                .logo-content {
                    margin: 0;

                    strong {
                        a {
                            img {
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
        }

        .middle-right-content {
            display: table;
            margin-top: 5px;
            float: left;

            .call-us {
                .call-us-content {
                    position: relative;
                    padding-right: 43px;
                    padding-left: 15px;

                    h3 {
                        color: #444;
                        font-weight: 700;
                        text-transform: uppercase;
                        white-space: nowrap;
                        font-size: 100%;
                        margin-bottom: 3px;
                    }

                    &:before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 3px;
                        width: 35px;
                        height: 29px;
                        background: url(../images/icon-image.png) no-repeat -236px -17px;
                    }

                    &:after {
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 34px;
                        background-color: #ddd;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }

            .minicart-header {
                display: table-cell;
                vertical-align: top;
                position: relative;
                top: -3px;
                padding-right: 15px;

                .minicart-content {
                    .cart-wrapper {
                        .minicart-wrapper {
                            margin: 0;

                            .showcart {
                                cursor: pointer;
                                position: relative;
                                padding-right: 44px;

                                &:before {
                                    color: #fff;
                                    .font-awesome(f291, 16px);
                                    line-height: 34px;
                                    position: absolute;
                                    right: 0;
                                    top: 3px;
                                    display: inline-block;
                                    width: 36px;
                                    height: 34px;
                                }

                                .text {
                                    white-space: nowrap;
                                    text-transform: uppercase;
                                    font-weight: 700;
                                    color: #444;
                                }

                                .counter {
                                    padding: 0;

                                    &:before,
                                    &:after {
                                        display: none;
                                    }

                                    .counter-number {
                                        display: none;
                                    }

                                    .counter-label {
                                        display: table-cell;
                                        white-space: nowrap;
                                    }

                                    .price-minicart {
                                        display: table-cell;

                                        &:before {
                                            content: "-";
                                            padding: 0 5px;
                                            display: table-cell;
                                        }

                                        .subtotal {
                                            display: table-cell;
                                        }

                                        .label {
                                            display: none;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .header-bottom {
        height: 50px;
        margin-top: -1px;

        &.menu-on-top {
            background-color: #fff;
        }

        .content-header-bottom {
            position: relative;
        }

        .sm_megamenu_wrapper_horizontal_menu {
            .sm_megamenu_menu {
                > li {
                    margin-right: 1px;

                    &:hover {
                        > .sm_megamenu_head {
                            &:before {
                                display: none;
                            }
                        }
                    }

                    > .sm_megamenu_head {
                        display: block;
                        line-height: 50px;
                        font-size: 116.67%;
                        padding: 0 18px;
                        text-transform: uppercase;
                        position: relative;

                        .icon_items {
                            img {
                                position: absolute;
                                right: 0;
                                top: -15px;
                                z-index: 10;
                            }
                        }
                    }

                    &.sm_megamenu_actived,
                    &:hover {
                        > .sm_megamenu_head {
                            color: #fff !important;
                        }
                    }
                }
            }
        }

        .searchbox-header {
            width: 370px;
            position: absolute;
            left: 0;
            top: 8px;

            .search-wrapper {
                .block-content {
                    position: relative;

                    .nested {
                        display: none;
                    }

                    .input-text {
                        height: 34px;
                        border: 1px solid #dddddd;
                        padding-right: 40px;
                        color: #999;
                    }

                    .btn-search-header {
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        width: 34px;
                        height: 34px;
                        opacity: 1;
                        padding: 0 !important;
                        background: transparent;
                        text-align: center;

                        &:hover {
                            color: #444 !important;
                        }

                        &:before {
                            .font-awesome(f002, 17px);
                            line-height: 34px;
                        }

                        span {
                            display: none;
                        }
                    }
                }

            }
        }

        // SEARCH BOX PRO

        .sm-searchbox {
            .sm-searchbox-content {
                position: relative;

                .control {
                    .searchbox-cat {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 34px;
                        width: 120px;
                        border: 1px solid #ddd;
                        color: #444;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    #searchbox {
                        padding-right: 130px;
                        height: 34px;
                        border-color: #ddd;
                        color: #444;
                        padding-left: 40px;
                    }
                }

                .actions {
                    .btn-searchbox {
                        background: transparent !important;
                        height: 34px;
                        opacity: 1;
                        padding: 0 !important;
                        position: absolute;
                        left: 0;
                        text-align: center;
                        top: 0;
                        width: 34px;

                        &:before {
                            .font-awesome(f002, 14px);
                        }

                        span {
                            display: none;
                        }

                        &:hover {
                            color: #333 !important;
                        }
                    }
                }
            }

        }

        // END SEARCH BOX PRO

    }
}