<?php
/**
 *
 * SM Social Login - Version 1.0.0
 * Copyright (c) 2017 YouTech Company. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: YouTech Company
 * Websites: http://www.magentech.com
 */
?>
<?php if ($block->isEnabled()): ?>
    <div id="sm-social-login" class="white-popup mfp-with-anim mfp-hide" data-mage-init='{"socialPopupForm": <?php echo $block->getFormParams() ?>}'>
        <?php echo $block->getChildHtml('popup.authentication') ?>
        <?php echo $block->getChildHtml('popup.create') ?>
        <?php echo $block->getChildHtml('popup.forgot') ?>
    </div>
    <div style="clear: both"></div>
<?php endif; ?>