// RESPONSIVE FOOTER STYLE 1

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    .payment-shipping {
        clear: both;
    }

    .about-store,
    .customer-services {
        margin-bottom: 20px;
    }

}

@media (max-width: 767px) {
    .socials-wrap {
        display: none !important;
    }

    .footer-block {
        margin-bottom: 20px;
    }

    .contact-footer {
        .footer-block {
            margin-bottom: 0;
        }
    }

    .footer-container .footer-bottom .footer-payment {
        text-align: left;
        padding-top: 10px;
    }
}

@media (max-width: 480px) {
    .socials-wrap {
        display: none;
    }
}
