// FOOTER STYLE 1

.footer-container {
    background-color: #dddddd;
    color: #444444;
    position: relative;

    a {
        color: #666666;
    }

    .footer-top {
        padding: 40px 0 30px;
        border-bottom: 1px solid #d4d4d4;
    }

    .footer-bottom {
        background-color: #444444;
        padding: 11px 0;
        color: #fff;

        .copyright-footer {
            address {
                margin-top: 3px;

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        .footer-payment {
            text-align: right;
        }

    }

    .footer-block {
        .footer-block-title {
            h3 {
                font-weight: 700;
                font-size: 116.67%;
            }
            margin-bottom: 15px;
        }

        .footer-block-content {
            .links-footer {
                li {
                    a {
                        display: inline-block;
                        padding: 2px 0;
                        font-size: 108.33%;

                        &:before {
                            .font-awesome(f101, 12px);
                            margin-right: 5px;
                        }
                    }
                }
            }

            .links-contact {
                li {
                    position: relative;
                    padding-left: 39px;
                    min-height: 30px;
                    line-height: 18px;

                    &:before {
                        position: absolute;
                        left: 0;
                        top: 4px;
                        content: "";
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        background: url(../images/icon-image.png) #969696;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                    }

                    &.add-icon {
                        &:before {
                            background-position: -8px -10px;
                        }
                    }

                    &.email-icon {
                        &:before {
                            background-position: -11px -51px;
                        }
                    }

                    &.phone-icon {
                        &:before {
                            background-position: -11px -91px;
                        }
                    }

                    &.middle-content {
                        padding-top: 9px;
                        margin: 4px 0 10px;
                    }
                }
            }
        }
    }

    .categories-footer {
        font-size: 91.67%;
        padding: 30px 0;
        border-top: 1px solid #e4e4e4;

        .footer-links-w {
            .label-link {
                font-weight: 700;
                margin-bottom: 13px;
            }

            ul {
                li {
                    padding-bottom: 8px;

                    h2 {
                        font-size: 100%;
                        display: inline-block;
                        font-weight: 700;
                        line-height: 18px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .socials-wrap {
        display: inline-block;
        position: fixed;
        top: 260px;
        right: 0;
        z-index: 50;

        .title-follow {
            display: none;
        }

        ul {
            .li-social {
                a {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    color: #fff;
                    font-size: 18px;
                    background-color: #666;

                    .name-social {
                        display: none;
                    }

                    &:hover {
                        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
                        -webkit-text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
                    }
                }

                &.facebook-social {
                    a {
                        background-color: #3c599f;
                    }
                }

                &.twitter-social {
                    a {
                        background-color: #5ea9dd;
                    }
                }

                &.google-social {
                    a {
                        background-color: #dd4b39;
                    }
                }

                &.pinterest-social {
                    a {
                        background-color: #d73532;
                    }
                }
            }
        }
    }
}

