<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

$_config = $this->helper('Sm\Market\Helper\Data');
?>


<style>

.otimg li
{
	margin:0 0 25px 0;
	padding:0;
}

.otimg li img
{
	width:125px;
	height:130px;
}

.appliance
{
	margin:35px 0 0 0;
}

.appliance li 
{
	padding-right:0;

	
}

.footul1 li a
{
	color:#fff;
	
	opacity:0.8;
}

.footul1
{
	margin:20px 0 0 0;
}

.footul1 li
{
	margin:10px 0;
	color:#fff;
}
h5{
	
margin: 8px 0;	
	}
</style>







<section style="background:#1060e3; padding:40px 0;">
<div class="container">
<div class="row">
<div class="col-md-12">
<h4 style="color:#fff; text-transform:uppercase; margin:0 0 30px 0;">Top Stores: Brand Directory | Store DIrectory</h4>
</div>

<div class="col-md-12">
<h5 style="color:#fff; text-transform:uppercase; float:left;">MOST SEARCHED KEYWORD MARKETS : </h5>
<span style="float:left; color:#fff;margin:7px 0 0 5px; opacity:0.8;"><a href="#" style="color:#fff;"> Xiaomi Mi3 </a> | <a href="#" style="color:#fff;">Digiflip Pro XT 712 Tablet</a> | <a href="#" style="color:#fff;">Mi3 Phones </a>|<a href="#" style="color:#fff;"> view all </a></span>


</div>

<div class="col-md-12">
<h5 style="color:#fff; text-transform:uppercase; float:left;">MOBILES : </h5>
<span style="float:left; color:#fff;margin:7px 0 0 5px; opacity:0.8;"><a href="#" style="color:#fff;"> Moto E </a> | <a href="#" style="color:#fff;">Samsung Mobile</a> | <a href="#" style="color:#fff;">Micromax Mobile </a>| <a href="#" style="color:#fff;">Nokia Mobile </a> | <a href="#" style="color:#fff;">HTC Mobile </a>| <a href="#" style="color:#fff;">Sony Mobile </a>| <a href="#" style="color:#fff;">Apple Mobile </a>| <a href="#" style="color:#fff;">LG Mobile </a>| <a href="#" style="color:#fff;">Karbonn Mobile </a>|<a href="#" style="color:#fff;"> view all</a></span>
</div>

<div class="col-md-12">
<h5 style="color:#fff; text-transform:uppercase; float:left;">CAMERA : </h5>
<span style="float:left; color:#fff;margin:7px 0 0 5px; opacity:0.8;"><a href="#" style="color:#fff;"> Nikon Camera </a> | <a href="#" style="color:#fff;">Canon Camera</a> | <a href="#" style="color:#fff;">Sony Camera </a>| <a href="#" style="color:#fff;">Samsung Camera </a> | <a href="#" style="color:#fff;">Point Shoot Camera </a>| <a href="#" style="color:#fff;">Camera Lens </a>| <a href="#" style="color:#fff;">Camera Tripod </a>| <a href="#" style="color:#fff;">Camera Bag </a>|<a href="#" style="color:#fff;"> view all</a></span>
</div>

<div class="col-md-12">
<h5 style="color:#fff; text-transform:uppercase; float:left;">LAPTOPS : </h5>
<span style="float:left; color:#fff;margin:7px 0 0 5px; opacity:0.8;"><a href="#" style="color:#fff;"> Apple Laptop </a> | <a href="#" style="color:#fff;">Acer Laptop</a> | <a href="#" style="color:#fff;">Samsung Laptop </a>| <a href="#" style="color:#fff;">Lenovo Laptop </a> | <a href="#" style="color:#fff;">Sony Laptop </a>| <a href="#" style="color:#fff;">Dell Laptop </a>| <a href="#" style="color:#fff;">Asus Laptop </a>| <a href="#" style="color:#fff;">Toshiba Laptop </a>| <a href="#" style="color:#fff;">LG Laptop </a>| <a href="#" style="color:#fff;">HP Laptop </a>| <a href="#" style="color:#fff;">Notebook </a>|<a href="#" style="color:#fff;"> view all</a></span>
</div>

<div class="col-md-12">
<h5 style="color:#fff; text-transform:uppercase; float:left;">TVS : </h5>
<span style="float:left; color:#fff;margin:7px 0 0 5px; opacity:0.8;"><a href="#" style="color:#fff;"> Sony TV </a> | <a href="#" style="color:#fff;">Samsung TV</a> | <a href="#" style="color:#fff;">LG TV </a>| <a href="#" style="color:#fff;">Panasonic TV </a> | <a href="#" style="color:#fff;">Onida TV </a>| <a href="#" style="color:#fff;">Toshiba TV </a>| <a href="#" style="color:#fff;">Phillips TV </a>| <a href="#" style="color:#fff;">Micromax TV </a>| <a href="#" style="color:#fff;">LED TV </a>| <a href="#" style="color:#fff;">LCD TV </a>| <a href="#" style="color:#fff;">Plasma TV </a>| <a href="#" style="color:#fff;">3D TV </a> | <a href="#" style="color:#fff;">Smart TV </a>|<a href="#" style="color:#fff;"> view all</a></span>
</div>

<div class="col-md-12">
<h5 style="color:#fff; text-transform:uppercase; float:left;">TABLETS : </h5>
<span style="float:left; color:#fff;margin:7px 0 0 5px; opacity:0.8;"><a href="#" style="color:#fff;"> Micromax Tablets </a> | <a href="#" style="color:#fff;">HCL Tablets</a> | <a href="#" style="color:#fff;">Samsung Tablets </a>| <a href="#" style="color:#fff;">Lenovo Tablets</a> | <a href="#" style="color:#fff;">Karbonn Tablets </a>| <a href="#" style="color:#fff;">Asus Tablets </a>| <a href="#" style="color:#fff;">Apple Tablets </a>| <a href="#" style="color:#fff;"> view all</a></span>
</div>

<div class="col-md-12">
<h5 style="color:#fff; text-transform:uppercase; float:left;">WATCHES : </h5>
<span style="float:left; color:#fff;margin:7px 0 0 5px; opacity:0.8;"><a href="#" style="color:#fff;"> FCUK Watches </a> | <a href="#" style="color:#fff;">Titan Watches</a> | <a href="#" style="color:#fff;">Casio Watches </a>| <a href="#" style="color:#fff;">Fasttrack Watches</a> | <a href="#" style="color:#fff;">Timex Watches </a>| <a href="#" style="color:#fff;">Fossil Watches </a>| <a href="#" style="color:#fff;">Diesel Watches </a>| <a href="#" style="color:#fff;">Luxury Watches </a>| <a href="#" style="color:#fff;"> view all</a></span>
</div>

<div class="col-md-12">
<h5 style="color:#fff; text-transform:uppercase; float:left;">CLOTHING : </h5>
<span style="float:left; color:#fff;margin:7px 0 0 5px; opacity:0.8;"><a href="#" style="color:#fff;"> Shirts </a> | <a href="#" style="color:#fff;"> Jeans </a> | <a href="#" style="color:#fff;">T-Shirts </a>| <a href="#" style="color:#fff;">Kurtis</a> | <a href="#" style="color:#fff;">Sarees </a>| <a href="#" style="color:#fff;">Levis Jeans </a>| <a href="#" style="color:#fff;">Killer Jeans </a>| <a href="#" style="color:#fff;">Pepe Jeans </a>| <a href="#" style="color:#fff;">Arrow Shirts </a>|<a href="#" style="color:#fff;">Ethinic Wear </a>| <a href="#" style="color:#fff;">Formal Shirts </a>| <a href="#" style="color:#fff;">Peter Englend Shirts </a>|<a href="#" style="color:#fff;"> view all</a></span>
</div>

<div class="col-md-12">
<h5 style="color:#fff; text-transform:uppercase; float:left;">FOOTWEAR : </h5>
<span style="float:left; color:#fff;margin:7px 0 0 5px; opacity:0.8;"><a href="#" style="color:#fff;"> Shoes </a> | <a href="#" style="color:#fff;"> Casual Shoes </a> | <a href="#" style="color:#fff;">Formal Shoes </a>| <a href="#" style="color:#fff;">Adidas Shoes </a> | <a href="#" style="color:#fff;">Gas Shoes </a>| <a href="#" style="color:#fff;">Puma Shoes </a>| <a href="#" style="color:#fff;">Reebok Shoes </a>| <a href="#" style="color:#fff;">Woodland Shoes </a>| <a href="#" style="color:#fff;">Red Tape Shoes </a>|<a href="#" style="color:#fff;">Nike Shoes </a>|<a href="#" style="color:#fff;"> view all</a></span>
</div>

</div>
</div>
</section>

<section style="background:#0b4cb6; padding:40px 0;">
<div class="container">
<div class="row">
<div class="col-md-3">
<h4 style="color:#fff;">SHOP ELECTRONICS</h4>

<ul class="list-unstyled footul1">
<li><a href="#">Other Toys</a></li>
<li><a href="#">Masks</a></li>
<li><a href="#">Musical Toys</a></li>
<li><a href="#">School Supplies</a></li>
<li><a href="#">Toys</a></li>
<li><a href="#">Other Accessories</a></li>
<li><a href="#">Telescopes</a></li>
<li><a href="#">Action Cameras</a></li>
<li><a href="#">Tripods</a></li>
<li><a href="#">Lighting</a></li>
<li><a href="#">Premium Collections</a></li>
</ul>

</div>

<div class="col-md-3">
<h4 style="color:#fff;">SHOP BY BRANDS</h4>

<ul class="list-unstyled footul1">
<li><a href="#">Jaguar</a></li>
<li><a href="#">Issey Miyake</a></li>
<li><a href="#">Geoffrey Beene</a></li>
<li><a href="#">Givenchy</a></li>
<li><a href="#">Salvatore Ferragamo</a></li>

<li><a href="#">Estee Lauder</a></li>
<li><a href="#">Escada</a></li>
<li><a href="#">S.T Dupont</a></li>
<li><a href="#">Infinity</a></li>
<li><a href="#">Hugo Boss</a></li>
<li><a href="#">Guerlain</a></li>

</ul>

</div>

<div class="col-md-3">
<h4 style="color:#fff;">ABOUT EC</h4>

<ul class="list-unstyled footul1">
<li><a href="#">About Us</a></li>
<li><a href="#">Payment Options</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Blog</a></li>

</ul>
<br/>
<h4 style="color:#fff;">CUSTOMER SUPPORT</h4>
<ul class="list-unstyled footul1">
<li><a href="#">Contact Us</a></li>
<li><a href="#">FAQ's</a></li>
<li><a href="#">Track Order</a></li>
<li><a href="#">support@ecbazaar.com</a></li>

</ul>

</div>

<div class="col-md-3">
<h4 style="color:#fff;">CONTACT US</h4>

<ul class="list-unstyled footul1">
<li><a href="#">EC Bazaar Online Shopping<br/>Sedrat Al Sahel General Trading LLC<br/>AL Khan Street,Sarjah,UAE</a></li>
<li>Mail : <a href="#">info@ecbazaar.com</a></li>
<li>Tel : +97165566390</li>


</ul>
<br/>
<h4 style="color:#fff;">NEWSLETTER</h4>
<form name="subscribe" id="newsletter" class="" method="post" action="#">
                               <div class="form-group" style="margin:3% 0 0 0;">
  
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email to subscribe" required="">
    <input type="submit" name="subscibe" value="SUBSCRIBE NOW" style="    background: #ffc90e;
    color: #000;
    padding: 10px 30px;
    font-size: 15px;
   font-weight:bold;
    border: none;
    float: left;
    margin:15px 0;">
  </div>
                                </form>


</div>

</div>
</div>
</section>

<section style="background:#013da0; padding:10px 0;">
<div class="container">
<div class="row">
<div class="col-md-12">
<p style="color:#fff; text-align:center; margin:0;">Copyright &copy; 2017 EC Bazaar Online Shopping. All Rights Reserved</p>
</div>
</div>
</div>
</section>

