@media (min-width: 1200px) {
    .home-10-style {
        .breadcrumbs {
            padding: 30px 0;
        }
    }

    .layout-boxed {
        &.home-10-style {
            .page-wrapper {
                background: none;
                max-width: 100%;
                box-shadow: none;
                -webkit-box-shadow: none;

                #maincontent,
                .header-style-10 .header-wrapper {
                    display: table;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart::before {
        display: inline-block !important;
    }

    .home-10-style {
        .breadcrumbs {
            padding: 30px 0;
        }
    }

    .home-page-10 .banner3-id10 ul li {
        width: 50%;

        &:first-child {
            width: 25%;
            padding-left: 13px;
        }

        &:last-child {
            width: 25%;
            padding-right: 12px;
        }
    }

    .cms-index-index.layout-boxed {
        &.home-10-style {
            .page-wrapper {
                background: none;
                max-width: 100%;
                box-shadow: none;
                -webkit-box-shadow: none;

                #maincontent,
                .header-style-10 .header-wrapper {
                    max-width: 1000px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart::before {
        display: inline-block !important;
    }

    .home-10-style {
        .breadcrumbs {
            padding: 30px 0;
        }
    }

    .home-page-10 {
        .banner1-id10 ul {
            margin-left: -15px;
            margin-right: -15px;

            li {
                float: left;
                width: 50%;
                padding: 0 15px;

                img {
                    width: 100%;
                }
            }
        }

        .banner3-id10 ul li {
            width: 50%;

            &:first-child {
                width: 25%;
                padding-left: 11px;
            }

            &:last-child {
                width: 25%;
                padding-right: 10px;
            }
        }

        .sm-listing-tabs .ltabs-tabs-container {
            right: 0 !important;
        }

    }

    .bottom-container:before {
        display: none;
    }

    .cms-index-index.layout-boxed {
        &.home-10-style {
            .page-wrapper {
                background: none;
                max-width: 100%;
                box-shadow: none;
                -webkit-box-shadow: none;

                #maincontent,
                .header-style-10 .header-wrapper {
                    max-width: 780px;
                }
            }
        }
    }

}

@media (max-width: 767px) {
    .home-10-style{
        .page-main{
            width: auto!important;
        }
    }

    .header-style-10 .header-wrapper{
        width: auto!important;
    }

    .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart::before {
        display: inline-block !important;
    }

    .home-10-style {
        .breadcrumbs {
            padding: 30px 0;
        }
    }

    .products-grid .item .item-inner .box-info .bottom-action .btn-action.btn-cart::before {
        display: inline-block;
    }

    .home-page-10 {
        .banner1-id10 ul {
            margin-left: -15px;
            margin-right: -15px;

            li {
                float: right;
                width: 50%;
                padding: 0 15px;

                img {
                    width: 100%;
                }
            }
        }

        .banner2-id10 {
            .static-image {
                li {
                    margin-bottom: 15px;
                }
            }
        }

        .banner3-id10 ul li {
            float: none;
            width: 100%;
            margin-bottom: 15px;

            img {
                width: 100%;
            }
        }

        .sm-listing-tabs .ltabs-tabs-container {
            right: 0 !important;
        }

        .slider-brand-wrapper {
            padding: 5px 20px;

            .owl-controls {
                .owl-nav div.owl-next {
                    right: -20px;
                }

                .owl-nav div.owl-prev {
                    left: -20px;
                }
            }
        }

        .listingtab-custom {
            .sm-listing-tabs .ltabs-tabs-container {
                border: 1px solid transparent;
                position: relative;
                margin-left: 53px;
                top: -5px!important;
                right: 0!important;
                width: auto!important;

                .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs {
                    right: 0;
                    left: auto;
                }
            }
        }

        .banner2-id10 {
            img {
                width: 100%;
            }
        }

    }

    .bottom-container:before {
        display: none;
    }

}

@media (max-width: 480px) {
    .home-page-10 .listingtab-custom .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-current-select{
        display: block!important;
    }
}