.home-10-style {
    .page-main {
        position: relative;
        background-color: #fff;
        margin: 0 auto 40px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

        &:before {
            border-top: 1px solid #ddd;
            background: #fff;
            content: "";
            display: block;
            height: 5px;
            left: 0;
            position: absolute;
            top: -5px;
            width: 100%;
            z-index: 10;
        }
    }

    .products-grid .item .item-inner {
        border: none;
        text-align: center;

        .product-reviews-summary {
            display: inline-table;
        }

        .box-info .bottom-action {
            display: inline-block;
            vertical-align: top;

            .btn-action {
                .btn-action {
                    float: none;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 2px;
                }

                &.btn-cart {
                    padding: 0 !important;
                    width: 30px;

                    &:before {
                        display: inline-block !important;
                    }

                    span {
                        display: none;
                    }
                }
            }

            .actions-primary,
            .actions-secondary {
                float: none;
                vertical-align: top;
                display: inline;
            }
        }

    }

}

.home-page-10 {
    padding: 25px 0 0;

    .sm-imageslider {
        margin-bottom: 30px;
    }

    .banner1-id10 {
        ul li {
            margin-bottom: 30px;
        }
    }

    .banner3-id10 {
        ul li {
            float: left;
        }
    }

    .listingtab-custom {
        overflow: hidden;
        margin-left: -5px;
        margin-right: -5px;
        padding: 5px;

        .title-home-page{
            display: none;
        }

        .owl-carousel .owl-stage-outer{
            overflow: visible;
        }

        .sm-listing-tabs {
            .ltabs-tabs-container {
                border-bottom: 1px solid #ddd;
                position: relative;
                top: auto;
                right: auto;
                margin-bottom: 30px;

                &:before {
                    content: "";
                    display: inline-block;
                    width: 100px;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                }

                .ltabs-tabs li {
                    border: none;
                    color: #888888;
                    font-size: 133.33%;
                    font-weight: bold;
                    position: relative;
                    padding-right: 22px;
                    margin-right: 22px;
                    text-transform: uppercase;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:before {
                        content: "";
                        display: inline-block;
                        width: 2px;
                        height: 14px;
                        background-color: #888;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -7px;
                    }

                    &:last-child {
                        &:before {
                            display: none;
                        }
                    }

                    &.tab-sel,
                    &:hover {
                        color: #333;
                    }
                }
            }

            .ltabs-items-container.show-slider .ltabs-items .ltabs-item .item-inner {
                margin-bottom: 30px;
            }
        }

        .sm-listing-tabs .owl-controls .owl-nav {
            position: absolute;
            top: -63px;
            right: -3px;

            div {
                background-color: transparent;
                border: 1px solid #ddd;
                color: #666;
                height: 27px;
                width: 20px;

                &:before {
                    line-height: 25px;
                }

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .products-slider {
        margin-left: -5px;
        margin-right: -5px;
        padding: 5px 5px 10px;
        overflow: hidden;

        .basic-product-slider {
            margin: 0;

            .owl-controls {
                .owl-nav {
                    position: absolute;
                    top: -63px;
                    right: -3px;

                    div {
                        width: 20px;
                        height: 27px;
                        background-color: transparent;
                        border: 1px solid #ddd;
                        color: #666;

                        &:before {
                            line-height: 26px;
                        }

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .owl-carousel .owl-stage-outer {
            overflow: visible;
        }
    }

    .banner3-id10,
    .banner2-id10 {
        display: table;
        width: 100%;
        margin-bottom: 55px;
    }

    .slider-brand-wrapper {
        padding: 5px 70px;
        margin-bottom: 30px;

        .owl-controls {
            .owl-nav {
                div {
                    width: 20px;
                    height: 27px;
                    background-color: transparent;
                    border: 1px solid #ddd;
                    color: #666;
                    position: absolute;
                    top: 50%;
                    margin: -13px 0 0;

                    &:hover {
                        color: #fff;
                    }

                    &.owl-next {
                        right: -70px;
                    }

                    &.owl-prev {
                        left: -70px;
                    }

                    &:before {
                        line-height: 26px;
                    }
                }
            }
        }
    }

}

.bottom-container {
    padding: 10px 0 40px;
    position: relative;

    &:before {
        content: "";
        width: 1px;
        height: 200px;
        background: #cacaca;
        position: absolute;
        left: 50%;
        top: 10px;
    }

    .left-content,
    .right-content {
        text-align: center;
    }

    .left-content {
        .list-info-bottom {
            li {
                margin-bottom: 15px;
                font-size: 108.33%;

                a {
                    color: #222222;
                }
            }
        }
    }

    .right-content {
        .des-newsletter {
            max-width: 380px;
            margin: 0 auto 30px;
        }

        .subscribe-home {
            display: inline-block;

            .input-box {
                width: 290px;

                #newsletter {
                    width: 100%;
                    height: 40px;
                    border: none;
                    padding-left: 20px;
                    background-color: #fff;
                    border-top-left-radius: 20px;
                    -webkit-border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    -webkit-border-bottom-left-radius: 20px;
                }
            }

            .action-button {
                button {
                    font-weight: 700;
                    height: 40px !important;
                    line-height: 40px !important;
                    border-top-right-radius: 20px;
                    -webkit-border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    -webkit-border-bottom-right-radius: 20px;
                }
            }
        }

        .input-box,
        .action-button {
            display: table-cell;
            vertical-align: top;
        }

    }

    .bottom-title {
        h3 {
            font-size: 133.33%;
            text-transform: uppercase;
            font-weight: 700;
            color: #333333;
            margin-bottom: 20px;
        }
    }
}