// RESPONSIVE FOOTER STYLE 1

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-container .footer-block {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .footer-middle .socials-wrap {
        padding-top: 30px;
        float: none;
    }

    .footer-container .footer-bottom .payment-footer {
        text-align: inherit;
        padding-top: 10px;
    }

    .footer-container .newsletter-container {
        padding: 0 15px;
    }

    .footer-container .footer-block {
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {

}
