@media (min-width: 1200px) {
    .home-page-20 .products-list-item .item{
        float: right;
        width: 33.33%;

        &:nth-child(3n+1){
            clear: both;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-page-20 .products-list-item .item{
        width: 50%;
        float: right;

        &:nth-child(2n+1){
            clear: both;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page-20 .right-image.static-image a{
        width: 33.33%;
        float: right;
    }

    .home-page-20 .image-slider-home{
        margin: 0 0 20px 0;
    }

    .home-page-20 .services-inline-home .service-inner{
        padding: 15px 0;
    }

    .home-page-20 .products-list-item .item{
        width: 50%;
        float: right;

        &:nth-child(2n+1){
            clear: both;
        }
    }
}

@media (max-width: 767px) {
    .home-page-20 .services-inline-home .service-inner{
        padding: 15px 0;
    }

    .home-page-20 .image-slider-home{
        margin: 0 0 20px 0;
    }

    .home-page-20 .deal-syns-container .thumb-deal{
        float: none;
        width: 100%;

        .box-image-thumb{
            width: 60px;
            float: right;
            margin-left: 10px;
        }
    }

    .home-page-20 .deal-syns-container .grid-syns{
        margin: 0;
        clear: both;
        padding-top: 10px;
    }

    .home-page-20 .cat-tab-products .ft-category{
        border: none;
        float: none;
        width: auto;
    }

    .home-page-20 .cat-tab-products .tab-products{
        position: static;
        border: none!important;
        margin: 0!important;
    }

    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap{
        height: 36px;
        line-height: 36px;
        margin-left: 70px;
        .border_radius(4px);
    }

    .sm-listing-tabs .ltabs-wrap .ltabs-items-container{
        padding-top: 20px;
    }

    .home-page-20 .sm-listing-tabs .owl-controls .owl-nav{
        top: -56px;
    }

    .home-page-20 .brand-list .brand-content .item{
        width: 33.33%;
    }
}

@media (max-width: 480px) {
    .popular-categories{
        .col-lg-2.col-md-2.col-sm-4.col-xs-6{
            width: 100%;
        }
    }

    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-current-select{
        display: block!important;
    }

    .home-page-20 .deal-syns-container .grid-syns .product-item .product-item-details.box-info,
    .home-page-20 .deal-syns-container .grid-syns .product-item .box-image{
        width: 100%;
        float: none;
    }
}