// RESPONSIVE FOOTER STYLE 13

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-block{
        margin: 20px 0;
    }
}

@media (max-width: 767px) {
    .footer-block{
        margin: 20px 0;
    }
}

@media (max-width: 480px) {

}
